Repository 3YOURMIND/kotti, changes with the labels that .github/labeler.yml gives for each.
All labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

fix(gh-pages): use the correct script for building kotti
  .github/workflows/gh-pages.yml
  packages/kotti-ui/package.json
  scripts/build-kotti.sh
  scripts/watch.sh
Labels: package:kotti-ui, scope:ci

hotfix(docs): nuxt doesn't import any kotti-ui styles
  packages/documentation/nuxt.config.ts
  packages/documentation/plugins/kotti-ui-style.js
  packages/documentation/plugins/kotti-ui.js
Labels: none

chore(vite.config): remove dead flag to plugins function
  packages/kotti-ui/vite.config.ts
Labels: package:kotti-ui

fix(packages/*): all mentions of styles.css
  README.md
  packages/kotti-ui/package.json
  packages/yoco/README.md
Labels: package:kotti-ui, package:yoco

revert(7ac39b): obsolete commit, actual fix followed
  packages/documentation/nuxt.config.ts
  packages/documentation/plugins/kotti-ui-style.js
  packages/documentation/plugins/kotti-ui.js
Labels: none

chore(kt-button): increase small height from 24px to 28px
  packages/kotti-ui/source/kotti-button/KtButton.vue
Labels: package:kotti-ui

chore(kt-button): increase small height from 24px to 28px
  packages/kotti-ui/source/kotti-button/KtButton.vue
Labels: package:kotti-ui

ci(all): Add Publint
  .github/workflows/ci.yml
  package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/vue-use-tippy/scripts/build.sh
  packages/vue-use-tippy/tsconfig.cjs.json
  packages/vue-use-tippy/tsconfig.json
  packages/vue-use-tippy/tsconfig.mjs.json
  packages/yoco/package.json
  packages/yoco/scripts/build.sh
  packages/yoco/source/generate.ts
  packages/yoco/tsconfig.cjs.json
  packages/yoco/tsconfig.json
  packages/yoco/tsconfig.mjs.json
  scripts/build-kotti.sh
  yarn.lock
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

feat(split-button): add split button
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

feat(split-button): add split button
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

Revert "feat(split-button): add split button"
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

Revert "feat(split-button): add split button"
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

feat(split-button): add split button
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

fix(build): make yoco and vue-use-tippy esm by default
  packages/vue-use-tippy/package.json
  packages/vue-use-tippy/scripts/build.sh
  packages/yoco/package.json
  packages/yoco/scripts/build.sh
Labels: package:yoco, package:vue-use-tippy

ci(gh-pages): check if documentation succeeds to build
  .github/workflows/ci.yml
Labels: scope:ci

feat(split-button): add split button
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

feat(split-button): add split button
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

chore(tippy): hide popper arrow
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-field-date/mixins.scss
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field/components/FieldHelpText.vue
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarTooltip.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: package:kotti-ui

chore(tippy): hide popper arrow
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-field-date/mixins.scss
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field/components/FieldHelpText.vue
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarTooltip.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: package:kotti-ui

dx(build): Cache with Turborepo for Performance
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .gitignore
  .vscode/extensions.json
  README.md
  package.json
  packages/documentation/.unimportedrc.json
  packages/documentation/nuxt.config.ts
  packages/documentation/package.json
  packages/documentation/pages/foundations/icons/typescript.vue
  packages/documentation/turbo.json
  packages/kotti-ui/.unimportedrc.json
  packages/kotti-ui/package.json
  packages/kotti-ui/scripts/build-vue-tsc.sh
  packages/kotti-ui/turbo.json
  packages/vue-use-tippy/.unimportedrc.json
  packages/vue-use-tippy/package.json
  packages/vue-use-tippy/turbo.json
  packages/yoco/.unimportedrc.json
  packages/yoco/package.json
  packages/yoco/turbo.json
  scripts/build-kotti.sh
  scripts/watch.sh
  turbo.json
  yarn.lock
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

fix(KtHeading): BREAKING replace <label> with <span>, also rework styles
  packages/kotti-ui/source/kotti-heading/KtHeading.vue
Labels: package:kotti-ui

fix(KtFieldToggle/RadioGroup): have unique id per input element
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
Labels: package:kotti-ui

fix(ci): Use Correct Path to Deploy GitHub Pages
  .github/workflows/gh-pages.yml
Labels: scope:ci

fix(KtPopover:B3-14407): make popover options emit events again
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: package:kotti-ui

dx(knip): Use knip instead of unimported
  .eslintrc.js
  .fake-prettierignore
  .github/workflows/ci.yml
  .prettierignore
  knip.json
  package.json
  packages/documentation/data/menu.ts
  packages/documentation/package.json
  packages/documentation/pages/foundations/colors/figma.vue
  packages/fake-root/package.json
  packages/fake-root/readme.md
  packages/fake-root/turbo.json
  packages/kotti-ui/package.json
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/kotti-table/logic/column.js
  packages/kotti-ui/source/kotti-table/logic/disable.js
  packages/kotti-ui/source/kotti-table/logic/hide.js
  packages/kotti-ui/source/kotti-table/logic/select.js
  packages/kotti-ui/source/kotti-table/logic/sort.js
  packages/kotti-ui/source/kotti-table/mixins.d.ts
  packages/kotti-ui/source/kotti-table/mixins.js
  packages/kotti-ui/tokens/figma-import-script.js
  packages/kotti-ui/tokens/utilities.js
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
  turbo.json
  yarn.lock
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

ci(github): Add GitHub Actions Workflow for Automatic Release
  .fake-prettierignore
  .github/workflows/publish.yml
  .gitignore
  internals/scripts/package.json
  internals/scripts/source/publish.ts
  internals/scripts/tsconfig.json
  package.json
  packages/fake-root/package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
  turbo.json
  yarn.lock
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

chore(fake-root): Move to Internals
  internals/fake-root/package.json
  internals/fake-root/readme.md
  internals/fake-root/turbo.json
Labels: none

fix(turbo): force yarn to be the primary package manager
  package.json
Labels: none

fix(eslint-config): Add publish-package Script
  packages/eslint-config/package.json
Labels: none

fix(ci): remove `bun install` call
  .github/workflows/publish.yml
Labels: scope:ci

version(yoco@2.5.0): add support for esm
  internals/scripts/source/publish.ts
  packages/yoco/package.json
Labels: package:yoco

ci(npm): try to peek into ci's env for debugging
  .github/workflows/publish.yml
Labels: scope:ci

ci(npm): try to peek into ci's env for debugging
  .github/workflows/publish.yml
Labels: scope:ci

ci(npm): try to peek into ci's env for debugging
  .github/workflows/publish.yml
Labels: scope:ci

ci(npm): try to peek into ci's env for debugging
  .github/workflows/publish.yml
Labels: scope:ci

ci(npm): try to peek into ci's env for debugging
  .github/workflows/publish.yml
Labels: scope:ci

ci(npm): try to peek into ci's env for debugging
  .github/workflows/publish.yml
Labels: scope:ci

fix(ci): use `yarn publish` in publish workflow
  .github/workflows/publish.yml
  internals/scripts/source/npmrc-template
  knip.json
  package.json
  packages/eslint-config/package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

ci(publish): add eslint-config into list of auto-publishable packages
  internals/scripts/source/publish.ts
Labels: none

documentation(publish/eslint): describe new autopublish workflow and add documentation for packages/eslint-config
  README.md
  internals/scripts/source/publish.ts
  packages/eslint-config/README.md
  packages/eslint-config/source/index.ts
Labels: none

.github/labeler.yml:

package:kotti-ui:
  - packages/kotti-ui/**/*

package:yoco:
  - packages/yoco/**/*

package:vue-use-tippy:
  - packages/vue-use-tippy/**/*

scope:ci:
  - .github/**/*
