Repository 3YOURMIND/kotti, changes with the labels that .github/labeler.yml gives for each.
All labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

version(eslint-config@0.0.2): add readme
  packages/eslint-config/package.json
Labels: none

test: testing overwriting hideFileValidation in KtForm
  packages/documentation/pages/usage/components/form.vue
Labels: none

fix(eslint): put restrict-template-expressions into rules for which types are required
  packages/eslint-config/source/index.ts
  packages/eslint-config/source/rules/vue-no-v-t-without-translation.ts
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-form-controller-list/components/FormControllerListItem.vue
  packages/kotti-ui/source/make-props.test.ts
Labels: package:kotti-ui

version(eslint-config@0.0.3): fix small issues
  packages/eslint-config/package.json
Labels: none

fix(eslint-config): change json key order to natural, case-insensitive
  eslint.config.mjs
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/source/index.ts
  yarn.lock
Labels: none

version(eslint-config@0.0.4): change sorting configuration for json
  packages/eslint-config/package.json
  packages/eslint-config/source/index.ts
Labels: none

chore(legacy-branch): minor fixes to improve working with legacy branch
  .gitignore
  README.md
  lerna.json
  package.json
  packages/documentation/package.json
  packages/kotti-ui/package.json
Labels: package:kotti-ui

chore(kt-button): increase small height from 24px to 28px
  packages/kotti-ui/source/kotti-button/KtButton.vue
Labels: package:kotti-ui

feat(split-button): add split button
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

chore(tippy): hide popper arrow
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-field-date/mixins.scss
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field/components/FieldHelpText.vue
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarTooltip.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: package:kotti-ui

fix(KtFieldToggle/RadioGroup): have unique id per input element
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
Labels: package:kotti-ui

fix(KtHeading): BREAKING replace <label> with <span>, also rework styles
  packages/kotti-ui/source/kotti-heading/KtHeading.vue
Labels: package:kotti-ui

fix(KtPopover:B3-14407): make popover options emit events again
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: package:kotti-ui

version(5.7.0): introduce KtSplitButton
  README.md
  packages/kotti-ui/package.json
Labels: package:kotti-ui

fix(eslint-config): properly define json schema for eslint rule
  packages/eslint-config/source/rules/vue-no-v-t-without-translation.ts
Labels: none

version(eslint-config@0.0.5): fix rule schema
  packages/eslint-config/package.json
Labels: none

chore(eslint-config): activate eslint rules warning of deprecated features
  eslint.config.mjs
  packages/documentation/components/NavBar.vue
  packages/documentation/layouts/default.vue
  packages/documentation/pages/examples/layouts.vue
  packages/documentation/pages/usage/components/card.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/modal.vue
  packages/documentation/pages/usage/components/popover.vue
  packages/documentation/pages/usage/components/value-label.vue
  packages/eslint-config/source/index.ts
  packages/kotti-ui/source/kotti-actionbar/components/ActionbarMenu.vue
  packages/kotti-ui/source/kotti-drawer/KtDrawer.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-date/hooks.ts
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUploadRemote.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Capture.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Error.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Review.vue
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-popover/components/IconTextItem.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-toaster/KtToaster.vue
Labels: package:kotti-ui

version(eslint-config@0.0.6): activate vue migration lints
  packages/eslint-config/package.json
Labels: none

fix(layout): readd vital div as layout was breaking in places
  packages/documentation/layouts/default.vue
Labels: none

refact(KtTable): move all other js and vue files in kotti-table to typescript
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.d.ts
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/KtTableConsumer.d.ts
  packages/kotti-ui/source/kotti-table/KtTableConsumer.ts
  packages/kotti-ui/source/kotti-table/KtTableProvider.d.ts
  packages/kotti-ui/source/kotti-table/KtTableProvider.ts
  packages/kotti-ui/source/kotti-table/components/TableBody.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyEmptyRow.js
  packages/kotti-ui/source/kotti-table/components/TableBodyEmptyRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyExpandRow.js
  packages/kotti-ui/source/kotti-table/components/TableBodyExpandRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyLoadingRow.js
  packages/kotti-ui/source/kotti-table/components/TableBodyLoadingRow.ts
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table/components/TableHeaderCell.js
  packages/kotti-ui/source/kotti-table/components/TableHeaderCell.ts
  packages/kotti-ui/source/kotti-table/components/TableRow.js
  packages/kotti-ui/source/kotti-table/components/TableRow.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/mixins.d.ts
  packages/kotti-ui/source/kotti-table/mixins.js
  packages/kotti-ui/source/kotti-table/mixins.ts
  packages/kotti-ui/source/kotti-table/table-layout.ts
Labels: package:kotti-ui

refact(KtTable): turn all files in kotti-table/logic into typescript
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/filter.ts
  packages/kotti-ui/source/kotti-table/logic/hide.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/row.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
Labels: package:kotti-ui

fix(SSR): explicitly load KtNavbar as a component
  packages/documentation/components/NavBar.vue
  packages/documentation/package.json
  packages/documentation/scripts/test-for-ssr-bug.sh
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
Labels: package:kotti-ui

build(turbo): bump to turbo@2
  internals/fake-root/turbo.json
  package.json
  packages/documentation/turbo.json
  packages/eslint-config/turbo.json
  packages/kotti-ui/turbo.json
  packages/vue-use-tippy/turbo.json
  packages/yoco/turbo.json
  turbo.json
  yarn.lock
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy

chore(turbo): set $schema to v1 version
  internals/fake-root/turbo.json
  packages/documentation/turbo.json
  packages/eslint-config/turbo.json
  packages/kotti-ui/turbo.json
  packages/vue-use-tippy/turbo.json
  packages/yoco/turbo.json
  turbo.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy

fix(KtTable): fix typo
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
Labels: package:kotti-ui

fik(KtTable): fix typo
  packages/kotti-ui/source/kotti-table/components/TableRowCell.jsx
Labels: package:kotti-ui

fix(KtPagination): don't increment as v-for starts iteration at 1
  packages/kotti-ui/source/kotti-pagination/components/PaginationExpanded.vue
Labels: package:kotti-ui

fix(KtTable): revert all runtime changes from type refactor
  packages/kotti-ui/source/kotti-table/logic/column.ts
Labels: package:kotti-ui

fix(KtTable): reinstate , as they are needed in vue@2.7
  packages/eslint-config/source/index.ts
  packages/kotti-ui/source/kotti-table/KtTable.vue
Labels: package:kotti-ui

refact(KtTable): declare state types
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/filter.ts
  packages/kotti-ui/source/kotti-table/logic/hide.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/row.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
  packages/kotti-ui/source/kotti-table/types.ts
Labels: package:kotti-ui

refact(KtTable): declare state types
  packages/kotti-ui/source/kotti-table/KtTable.vue
Labels: package:kotti-ui

refact(KtTable): declare table mutation types
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/components/TableRow.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/filter.ts
  packages/kotti-ui/source/kotti-table/logic/hide.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/row.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

refact(KtTable): declare table getter types
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/filter.ts
  packages/kotti-ui/source/kotti-table/logic/hide.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/row.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

fix(KtUserMenu): tell avatar to not shrink
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
Labels: package:kotti-ui

docs(release): explicitly talk about tagging in readme
  README.md
Labels: none

fix(KtUserMenu): tell avatar to not shrink
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
Labels: package:kotti-ui

fix(filesize): use iec standard in order to display clear unit for filesizes
  packages/kotti-ui/source/kotti-field-file-upload/formatters.ts
Labels: package:kotti-ui

fix(KtActionbar): clean up rendering and make props optional
  packages/documentation/components/ActionBar.vue
  packages/kotti-ui/source/kotti-actionbar/KtActionbar.vue
  packages/kotti-ui/source/kotti-actionbar/components/ActionbarMenu.vue
  packages/kotti-ui/source/kotti-actionbar/types.ts
Labels: package:kotti-ui

Revert "refact(KtTable): declare state types"
  packages/kotti-ui/source/kotti-table/KtTable.vue
Labels: package:kotti-ui

refact(KtTable): declare table emit types
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

.github/labeler.yml:

package:kotti-ui:
  - packages/kotti-ui/**/*

package:yoco:
  - packages/yoco/**/*

package:vue-use-tippy:
  - packages/vue-use-tippy/**/*

scope:ci:
  - .github/**/*
