Repository 3YOURMIND/kotti, changes with the labels that .github/labeler.yml gives for each.
All labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

fix(all): comply to esm standard by providing full path for file imports
  eslint.config.mjs
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/data/menu.ts
  packages/documentation/pages/changelog.vue
  packages/documentation/pages/usage/components/comment.vue
  packages/documentation/pages/usage/components/filters.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/value-label.vue
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/components/CommentEntry.vue
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
  packages/kotti-ui/source/kotti-comment/utilities.ts
  packages/kotti-ui/source/kotti-field-date/el-locales.d.ts
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Capture.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-select/components/Options.vue
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-form-controller-list/KtFormControllerList.vue
  packages/kotti-ui/source/kotti-form/KtForm.vue
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/KtTableProvider.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/make-props.test.ts
  packages/kotti-ui/source/make-props.ts
Labels: package:kotti-ui

fix(KtTable): use attrs instead of domProps for specific attributes
  packages/kotti-ui/source/kotti-table/components/TableBody.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyExpandRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyLoadingRow.ts
  packages/kotti-ui/source/kotti-table/components/TableRow.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
Labels: package:kotti-ui

hack(vue-use-tippy): make sure tippy is always a function
  packages/vue-use-tippy/source/index.ts
Labels: package:vue-use-tippy

chore(build): add support to export packages as tarballs
  .gitignore
  README.md
  package.json
  packages/documentation/turbo.json
  packages/eslint-config/package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
  packages/yoco/turbo.json
  turbo.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy

fix(KtFieldDate*): import element-ui in cjs&esm-compliant way
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
Labels: package:kotti-ui

chore(eslint): guard against other invisible cjs/esm issues
  eslint.config.mjs
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-date/el-locales.d.ts
Labels: package:kotti-ui

fix(exports): expose svg folder
  packages/yoco/package.json
Labels: package:yoco

chore(tarballs): place tarballs into same directory in root
  .gitignore
  packages/eslint-config/package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
  turbo.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy

dependencies(babel-preset-env): bump to v7.24.7
  package.json
  yarn.lock
Labels: none

chore(node): bump node engine to >=20
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/publish.yml
  package.json
  packages/yoco/package.json
Labels: package:yoco, scope:ci

dependencies(babel-preset-env): bump to v7.24.7
  package.json
  yarn.lock
Labels: none

version(5.7.1): tell KtUserMenu avatar not to shrink
  packages/kotti-ui/package.json
Labels: package:kotti-ui

chore(build): make script build:kotti run not concurrently
  packages/kotti-ui/package.json
Labels: package:kotti-ui

chore(build): make script build:kotti run not concurrently
  packages/kotti-ui/package.json
Labels: package:kotti-ui

version(5.7.2): tell KtUserMenu avatar not to shrink
  packages/kotti-ui/package.json
Labels: package:kotti-ui

version(kotti-ui@6.0.0-rc): vue@2.7 and build system
  README.md
  internals/scripts/source/publish.ts
  packages/documentation/package.json
  packages/eslint-config/package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy

docs(release): explicitly talk about tagging in readme
  README.md
Labels: none

version(eslints-config@0.0.8): allow `require` in .cjs files
  packages/eslint-config/package.json
  packages/eslint-config/source/index.ts
Labels: none

feat(yoco): add attention, circle_magnifying_glass, circle_minus, magnifying_glass icons - bump version to 2.6.1
  packages/yoco/package.json
  packages/yoco/source/index.ts
  packages/yoco/svg/attention.svg
  packages/yoco/svg/circle_magnifying_glass.svg
  packages/yoco/svg/circle_minus.svg
  packages/yoco/svg/magnifying_glass.svg
Labels: package:yoco

version(eslint-config@0.0.9): remove rules requiring types from `untyped`
  packages/eslint-config/package.json
  packages/eslint-config/source/index.ts
Labels: none

fix(readme): fix mismatch in documentation of release title format
  README.md
Labels: none

chore(node): bump node engine to >=20
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/publish.yml
  package.json
  packages/yoco/package.json
Labels: package:yoco, scope:ci

refact(KtTable): declare table emit types
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

feat(yoco): add attention, circle_minus, circle_search icons
  packages/kotti-ui/package.json
  packages/yoco/package.json
  packages/yoco/source/index.ts
  packages/yoco/svg/attention.svg
  packages/yoco/svg/circle_minus.svg
  packages/yoco/svg/circle_search.svg
Labels: package:kotti-ui, package:yoco

fix(KtFieldInlineEdit): wait for dom to render before calculationg height
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-inline-edit/components/EditIcon.vue
  packages/kotti-ui/source/kotti-field-inline-edit/hooks.ts
  packages/kotti-ui/source/kotti-field-inline-edit/utils.ts
Labels: package:kotti-ui

fix(build): don't externalize element-ui's locales
  packages/kotti-ui/vite.config.ts
Labels: package:kotti-ui

refact(documentation): import kotti components explicitly in some places
  packages/documentation/components/component-info/Slots.vue
  packages/documentation/layouts/default.vue
  packages/documentation/layouts/fullpage.vue
  packages/documentation/pages/usage/components/accordion.vue
  packages/documentation/pages/usage/components/table.vue
Labels: none

version(kotti-ui@6.0.0): vue@2.7 and build system
  packages/documentation/package.json
  packages/kotti-ui/package.json
Labels: package:kotti-ui

refact(kt-table): remove $on call from KtTable
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

version(kotti-ui@6.0.1): remove unused code
  packages/kotti-ui/package.json
Labels: package:kotti-ui

refactor(KtTable): use composition API for Table*Cell files
  packages/documentation/tsconfig.json
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyEmptyRow.ts
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table/components/TableHeaderCell.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/mixins.ts
  packages/kotti-ui/source/kotti-table/types.ts
  packages/kotti-ui/source/types/kotti.ts
  packages/kotti-ui/source/types/typed-emit.ts
  packages/kotti-ui/tsconfig.json
  tsconfig.json
Labels: package:kotti-ui

refactor(KtTable): use Composition API for TableBody*Row components
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyEmptyRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyExpandRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyLoadingRow.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/mixins.ts
  packages/vue-project/src/App.vue
Labels: package:kotti-ui

version(kotti-ui@6.1.0): Composition API for some kotti table subcomponents
  packages/kotti-ui/package.json
Labels: package:kotti-ui

version(kotti-ui@6.1.1): externalize translations
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/vite.config.ts
Labels: package:kotti-ui

refactor(KtTable): use Composition API in TableHeader.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
  packages/kotti-ui/source/kotti-table/types.ts
Labels: package:kotti-ui

dep(zod): lock version to v3.23.6
  internals/scripts/package.json
  packages/kotti-ui/package.json
  packages/yoco/package.json
  yarn.lock
Labels: package:kotti-ui, package:yoco

dep(zod): lock zod version to v3.22.5
  internals/scripts/package.json
  packages/kotti-ui/package.json
  packages/yoco/package.json
  yarn.lock
Labels: package:kotti-ui, package:yoco

feature(#970) : force internal comments for KtCommentInput
  packages/documentation/pages/usage/components/comment.vue
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/types.ts
Labels: package:kotti-ui

refactor(970): run eslint and prettier
  packages/documentation/pages/usage/components/comment.vue
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
Labels: package:kotti-ui

refactor(KtTable): use Composition API in TableBody component
  packages/kotti-ui/source/kotti-table/components/TableBody.ts
  packages/kotti-ui/source/kotti-table/constants.ts
Labels: package:kotti-ui

.github/labeler.yml:

package:kotti-ui:
  - packages/kotti-ui/**/*

package:yoco:
  - packages/yoco/**/*

package:vue-use-tippy:
  - packages/vue-use-tippy/**/*

scope:ci:
  - .github/**/*
