Repository 3YOURMIND/kotti, pull requests merged in 2020-09, with the labels that each got.

#260 feature(#242): Add Show Change Buttons
  packages/documentation/pages/components/form-fields.vue
  packages/kotti-ui/source/next/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/next/kotti-field-number/constants.ts
  packages/kotti-ui/source/next/kotti-field-number/types.ts
Labels: package:kotti-ui, priority:3-normal, type:enhancement

#275 feature(#274): Add isInline to KtFieldToggleGroup
  packages/documentation/pages/components/form-fields.vue
  packages/kotti-ui/source/next/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/next/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/next/kotti-field-toggle/constants.ts
  packages/kotti-ui/source/next/kotti-field-toggle/types.ts
Labels: package:kotti-ui, priority:3-normal, type:enhancement

#277 feature(#227): Implement KtFieldPassword
  packages/documentation/pages/components/form-fields.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/next/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/next/kotti-field-password/constants.ts
  packages/kotti-ui/source/next/kotti-field-password/index.ts
  packages/kotti-ui/source/next/kotti-field-password/types.ts
Labels: package:kotti-ui, priority:4-high, type:new-component

#294 improvement(#293): Add Props Types for KtRow/KtCol
  packages/kotti-ui/source/kotti-col/index.ts
  packages/kotti-ui/source/kotti-col/types.ts
  packages/kotti-ui/source/kotti-row/index.ts
  packages/kotti-ui/source/kotti-row/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui, priority:3-normal, scope:documentation

#303 feat(297): use old tooltip style colors; adjust widtht with some 'max…
  packages/kotti-ui/source/next/kotti-field/KtField.vue
Labels: package:kotti-ui, priority:4-high, type:enhancement
