Repository 3YOURMIND/kotti, pull requests merged in 2020-10, with the labels that each got.

#308 improvement(#307): Left-align KtFieldNumber when Appropriate
  packages/kotti-ui/source/next/kotti-field-number/KtFieldNumber.vue
Labels: package:kotti-ui, priority:4-high, type:enhancement

#310 improvement(#309): Use Tabular Nums for Better Readability/Typography
  packages/kotti-ui/source/next/kotti-field-number/KtFieldNumber.vue
Labels: package:kotti-ui, priority:2-low, type:enhancement

#311 fix(300): counter-act chrome autocomplete attribute disregard
  packages/kotti-ui/source/next/kotti-field-select/hooks.ts
Labels: package:kotti-ui, priority:4-high, type:bug

#313 Use refs as recommended on kt field
  packages/kotti-ui/source/next/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/next/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/next/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/next/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/next/kotti-field-date/hooks.ts
  packages/kotti-ui/source/next/kotti-field/KtField.vue
Labels: priority:3-normal, type:bug, type:refactor

#315 feature(#314): Add Yoco.Icon.CALENDAR_CLOCK
  packages/kotti-ui/source/next/kotti-field-date/hooks.ts
  packages/yoco/source/types.ts
  packages/yoco/svg/calendar_clock.svg
Labels: package:yoco, priority:3-normal

#301 build(#252): Support ESM Tree Shaking
  packages/kotti-ui/package.json
  packages/kotti-ui/rollup.config.js
  packages/kotti-ui/source/index.ts
  packages/test-app/src/App.vue
  yarn.lock
Labels: package:kotti-ui, priority:3-normal, scope:build, type:enhancement

#321 chore(dependencies): Upgrade @vue/composition-api to 0.6.7
  packages/documentation/package.json
  packages/kotti-ui/package.json
  packages/kotti-ui/source/next/kotti-field-date/hooks.ts
  packages/kotti-ui/source/next/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/next/kotti-field-select/hooks.ts
  packages/kotti-ui/source/next/kotti-field/hooks.ts
  packages/kotti-ui/source/next/kotti-translation/hooks.ts
  packages/kotti-ui/source/next/test-utils/index.ts
  packages/test-app/package.json
  yarn.lock
Labels: dependencies, package:kotti-ui, priority:4-high, type:enhancement
