Repository 3YOURMIND/kotti, pull requests merged in 2021-04, with the labels that each got.

#393 improvement(KtPopover): Align with Design when Using Options
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-popover/components/IconTextItem.vue
Labels: package:kotti-ui, type:enhancement

#396 refactor(kotti): Introduce SpecifyRequiredProps
  packages/kotti-ui/source/kotti-col/types.ts
  packages/kotti-ui/source/kotti-row/types.ts
  packages/kotti-ui/source/types/utilities.ts
Labels: package:kotti-ui, priority:4-high, type:refactor

#398 chore(KtTheme): Partially Remove & Deprecate
  packages/documentation/pages/foundations/colors/theming.vue
  packages/documentation/pages/usage/layouts/navbar.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarNotification.vue
  packages/kotti-ui/source/kotti-theme/index.ts
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
Labels: package:kotti-ui, priority:3-normal, type:chore

#399 chore(documentation): Remove Dead Code & Slots Tables
  packages/documentation/layouts/example.vue
  packages/documentation/pages/usage/components/card.vue
  packages/documentation/pages/usage/components/drawer.vue
  packages/documentation/pages/usage/components/dropdown.vue
  packages/documentation/pages/usage/components/heading.vue
  packages/documentation/pages/usage/components/popover.vue
  packages/documentation/pages/usage/layouts/navbar.vue
  packages/documentation/pages/usage/layouts/user-menu.vue
Labels: package:kotti-ui, priority:3-normal, type:chore

#400 fix(KtUserMenu): Scope Styles
  packages/documentation/pages/examples/layouts.vue
  packages/documentation/pages/usage/layouts/navbar.vue
  packages/documentation/pages/usage/layouts/user-menu.vue
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
Labels: package:kotti-ui, priority:4-high, type:bug

#392 fix(KtButton): composition api and types, fix implicit submit, loading -> isLoading
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/README.md
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui, priority:4-high, type:bug, type:refactor

#404 fix(KtAccordion): Proper Centering & Border
  packages/kotti-ui/source/kotti-accordion/KtAccordion.vue
Labels: package:kotti-ui, priority:3-normal, type:bug

#401 feature(KtTable): Support minWidth Prop
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/source/kotti-table/src/TableColumn.js
  packages/kotti-ui/source/kotti-table/src/TableRowCell.jsx
Labels: package:kotti-ui, priority:3-normal, type:enhancement

#402 fix(KtFieldNumber): Use Current Value
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: package:kotti-ui, priority:4-high, type:bug

#406 fix(#405): Prevent Hyphenation in Yoco Icons
  packages/yoco/style.css
Labels: package:yoco, priority:4-high, type:bug

#407 fix(#377): Expose generic types for Selects `options`
  packages/kotti-ui/source/kotti-field-select/types.ts
Labels: package:kotti-ui, priority:1-nice-to-have, type:enhancement

#410 refactor(KtField): Add Size enum
  packages/kotti-ui/source/kotti-field/constants.ts
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/test-utils/index.ts
Labels: package:kotti-ui, priority:3-normal, type:refactor

#414 fix(#413): KtButton Explicit Focus Behavior
  packages/kotti-ui/source/kotti-button/KtButton.vue
Labels: package:kotti-ui, priority:3-normal, type:bug

#412 fix(#411): Specify Background Colors for Danger KtButton
  packages/kotti-ui/source/kotti-button/KtButton.vue
Labels: package:kotti-ui, priority:3-normal, type:bug

#403 build(kotti-ui): Remove node-sass by Upgrading rollup-plugin-scss
  packages/kotti-ui/package.json
  yarn.lock
Labels: priority:3-normal, scope:build, type:enhancement

#288 improvement(build): Add Rollup Visualizer
  .gitignore
  packages/kotti-ui/package.json
  packages/kotti-ui/rollup.config.js
  yarn.lock
Labels: package:kotti-ui, priority:1-nice-to-have, scope:build, type:enhancement

#388 feature(#296): KtFilters
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/filters.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/styles/form-fields.scss
  packages/documentation/pages/utilities.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-filter/KtFilters.vue
  packages/kotti-ui/source/kotti-filter/components/ButtonLink.vue
  packages/kotti-ui/source/kotti-filter/components/FilterActions.vue
  packages/kotti-ui/source/kotti-filter/components/FilterList.vue
  packages/kotti-ui/source/kotti-filter/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filter/components/FilterSearch.vue
  packages/kotti-ui/source/kotti-filter/index.ts
  packages/kotti-ui/source/kotti-filter/types.ts
  packages/kotti-ui/source/kotti-filter/utils.ts
  packages/kotti-ui/source/kotti-filter/validators.ts
  packages/kotti-ui/source/kotti-translation/locales/de-DE.ts
  packages/kotti-ui/source/kotti-translation/locales/en-US.ts
  packages/kotti-ui/source/kotti-translation/locales/es-ES.ts
  packages/kotti-ui/source/kotti-translation/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-translation/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-translation/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: type:new-component

#424 chore(#323): Remove .tooltip Class
  packages/documentation/pages/usage/components/popover.vue
  packages/kotti-ui/source/kotti-style/_tooltip.scss
  packages/kotti-ui/source/kotti-style/forms/_label.scss
  packages/kotti-ui/source/kotti-style/index.scss
Labels: package:kotti-ui, priority:3-normal, type:chore
