Repository 3YOURMIND/kotti, pull requests merged in 2021-03, with the labels that each got.

#364 KtNavbar: add types & translate quick links
  packages/documentation/components/NavBar.vue
  packages/documentation/pages/examples/layouts.vue
  packages/documentation/pages/patterns/navbar.vue
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarQuickLink.vue
  packages/kotti-ui/source/kotti-navbar/index.ts
  packages/kotti-ui/source/kotti-navbar/types.ts
  packages/kotti-ui/source/kotti-translation/locales/de-DE.ts
  packages/kotti-ui/source/kotti-translation/locales/en-US.ts
  packages/kotti-ui/source/kotti-translation/locales/es-ES.ts
  packages/kotti-ui/source/kotti-translation/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-translation/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-translation/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui, type:enhancement

#363 feature(#366): Implement Options in KtPopover
  packages/documentation/pages/components/popover.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-popover/KtPopoverIconTextItem.vue
  packages/kotti-ui/source/kotti-popover/index.ts
Labels: package:kotti-ui, type:enhancement

#369 documentation(designs): Add Figma Links to Documentation & Kotti.Meta
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/pages/components/loadings.vue
  packages/documentation/pages/foundations/icons.vue
  packages/documentation/pages/patterns/forms.vue
  packages/kotti-ui/source/kotti-accordion/index.ts
  packages/kotti-ui/source/kotti-actionbar/index.ts
  packages/kotti-ui/source/kotti-avatar-group/index.ts
  packages/kotti-ui/source/kotti-avatar/index.ts
  packages/kotti-ui/source/kotti-banner/index.ts
  packages/kotti-ui/source/kotti-breadcrumb/index.ts
  packages/kotti-ui/source/kotti-button-group/index.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-card/index.ts
  packages/kotti-ui/source/kotti-col/index.ts
  packages/kotti-ui/source/kotti-comment/index.ts
  packages/kotti-ui/source/kotti-drawer/index.ts
  packages/kotti-ui/source/kotti-dropdown-button/index.ts
  packages/kotti-ui/source/kotti-dropdown-menu/index.ts
  packages/kotti-ui/source/kotti-dropdown/index.ts
  packages/kotti-ui/source/kotti-field-date/index.ts
  packages/kotti-ui/source/kotti-field-number/index.ts
  packages/kotti-ui/source/kotti-field-password/index.ts
  packages/kotti-ui/source/kotti-field-radio-group/index.ts
  packages/kotti-ui/source/kotti-field-select/index.ts
  packages/kotti-ui/source/kotti-field-text-area/index.ts
  packages/kotti-ui/source/kotti-field-text/index.ts
  packages/kotti-ui/source/kotti-field-toggle/index.ts
  packages/kotti-ui/source/kotti-field/index.ts
  packages/kotti-ui/source/kotti-form/index.ts
  packages/kotti-ui/source/kotti-heading/index.ts
  packages/kotti-ui/source/kotti-inline-edit/index.ts
  packages/kotti-ui/source/kotti-input/index.ts
  packages/kotti-ui/source/kotti-line/index.ts
  packages/kotti-ui/source/kotti-modal/index.ts
  packages/kotti-ui/source/kotti-navbar/index.ts
  packages/kotti-ui/source/kotti-pagination/index.ts
  packages/kotti-ui/source/kotti-popover/index.ts
  packages/kotti-ui/source/kotti-radio-group/index.ts
  packages/kotti-ui/source/kotti-radio/index.ts
  packages/kotti-ui/source/kotti-row/index.ts
  packages/kotti-ui/source/kotti-step/index.ts
  packages/kotti-ui/source/kotti-steps/index.ts
  packages/kotti-ui/source/kotti-table/index.ts
  packages/kotti-ui/source/kotti-theme/index.ts
  packages/kotti-ui/source/kotti-toaster/index.ts
  packages/kotti-ui/source/kotti-translation/index.ts
  packages/kotti-ui/source/kotti-user-menu/index.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: priority:4-high, scope:documentation, type:enhancement

#368 chore(documentation): Remove Sketch
  README.md
  packages/documentation/assets/img/design_kit_sketch.png
  packages/documentation/assets/sketch/KDS_2019.sketch
  packages/documentation/data/menu.ts
  packages/documentation/layouts/default.vue
  packages/documentation/pages/designkit.vue
  packages/documentation/pages/foundations/color.vue
  packages/documentation/pages/tokens/theming.vue
  packages/yoco/source/yoco.sketch
Labels: scope:documentation, type:refactor

#371 chore(ci): Deploy to GitHub Pages Automatically
  .github/workflows/gh-pages.yml
  package.json
  packages/documentation/github-deploy.sh
  packages/documentation/package.json
Labels: priority:3-normal, scope:build, type:enhancement

#373 fix(KtFieldPassword): Export Namespace
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui, priority:3-normal, type:bug

#374 fix(KtFieldMultiSelect): Use Array as Value Type
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelect.vue
Labels: package:kotti-ui, priority:4-high, type:bug

#372 Fix styles for KtHeading to make them scoped
  packages/documentation/pages/foundations/color.vue
  packages/documentation/pages/foundations/text/typography.vue
  packages/kotti-ui/source/kotti-heading/KtHeading.vue
  packages/kotti-ui/source/kotti-style/_typography.scss
Labels: type:bug

#376 documentation(colors): Combine with Token Section
  packages/documentation/components/ActionBar.vue
  packages/documentation/data/menu.ts
  packages/documentation/pages/foundations/colors/figma.vue
  packages/documentation/pages/foundations/colors/introduction.vue
  packages/documentation/pages/foundations/colors/list-of-colors.vue
  packages/documentation/pages/foundations/colors/list-of-tokens.vue
  packages/documentation/pages/foundations/colors/theming.vue
  packages/documentation/pages/foundations/text/typography.vue
  packages/documentation/pages/usage/components/breadcrumb.vue
Labels: priority:3-normal, scope:documentation, type:bug

#378 refactor(KtNavbar): Remove Dead Code
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarLogo.vue
Labels: package:kotti-ui, priority:3-normal, type:refactor

#379 fix(KtNavbar): Style Quicklinks to Actually be Readable
  packages/kotti-ui/source/kotti-navbar/components/NavbarQuickLink.vue
Labels: package:kotti-ui, priority:3-normal, type:bug

#380 fix(KtNavbar): Better Click Targets & Icon Scaling
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarLogo.vue
Labels: package:kotti-ui, priority:3-normal, type:bug

#381 feature(#247): Add Tooltips to KtNavbar
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarLogo.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarMenu.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarQuickLink.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarTooltip.vue
  packages/kotti-ui/source/kotti-navbar/types.ts
  packages/kotti-ui/source/kotti-translation/locales/de-DE.ts
  packages/kotti-ui/source/kotti-translation/locales/en-US.ts
  packages/kotti-ui/source/kotti-translation/locales/es-ES.ts
  packages/kotti-ui/source/kotti-translation/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-translation/locales/ja-JP.ts
Labels: package:kotti-ui, priority:3-normal, type:enhancement

#382 fix(#336): register `visible` on watchEffect
  packages/kotti-ui/source/kotti-field-select/hooks.ts
Labels: package:kotti-ui, priority:3-normal, type:bug

#383 Update single select to contain possibility of a create option
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelect.vue
  packages/kotti-ui/source/kotti-field-select/constants.ts
  packages/kotti-ui/source/kotti-field-select/styles.scss
  packages/kotti-ui/source/kotti-field-select/types.ts
Labels: package:kotti-ui, priority:3-normal, type:enhancement

#385 Fix small logo
  packages/kotti-ui/source/kotti-navbar/components/NavbarLogo.vue
Labels: package:kotti-ui, priority:4-high, type:enhancement
