Repository 3YOURMIND/kotti, pull requests merged in 2021-02, with the labels that each got.

#205 fix(defaultLayout): provided logourl to KtNavBar
  packages/documentation/components/NavBar.vue
  packages/documentation/shims-svg.d.ts
Labels: state:waiting, type:bug

#354 fix(KtAvatar): Properly Stretch Small Images
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
Labels: package:kotti-ui, type:bug

#356 refactor(documentation): Improve Tag & Pages Consistency
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/data/menu.ts
  packages/documentation/pages/components/accordion.vue
  packages/documentation/pages/components/avatar.vue
  packages/documentation/pages/components/banner.vue
  packages/documentation/pages/components/breadcrumb.vue
  packages/documentation/pages/components/button.vue
  packages/documentation/pages/components/card.vue
  packages/documentation/pages/components/comment.vue
  packages/documentation/pages/components/drawer.vue
  packages/documentation/pages/components/dropdown.vue
  packages/documentation/pages/components/form-fields.vue
  packages/documentation/pages/components/form.vue
  packages/documentation/pages/components/heading.vue
  packages/documentation/pages/components/input.vue
  packages/documentation/pages/components/line.vue
  packages/documentation/pages/components/loadings.vue
  packages/documentation/pages/components/modal.vue
  packages/documentation/pages/components/pagination.vue
  packages/documentation/pages/components/popover.vue
  packages/documentation/pages/components/radio.vue
  packages/documentation/pages/components/select.vue
  packages/documentation/pages/components/steps.vue
  packages/documentation/pages/components/table.vue
  packages/documentation/pages/components/toaster.vue
  packages/documentation/pages/foundations/grids.vue
  packages/documentation/pages/foundations/icons.vue
  packages/documentation/pages/patterns/actionbar.vue
  packages/documentation/pages/patterns/forms.vue
  packages/documentation/pages/patterns/inline-edit.vue
  packages/documentation/pages/patterns/navbar.vue
  packages/documentation/pages/patterns/user-menu.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-select/KtSelect.vue
  packages/kotti-ui/source/kotti-select/index.ts
Labels: scope:documentation, type:refactor

#358 feat(): add footer/header slots to KtFormControllerList & enhance docs
  packages/documentation/pages/components/form.vue
  packages/kotti-ui/source/kotti-form/controllers/KtFormControllerList.vue
  packages/kotti-ui/source/kotti-form/index.ts
Labels: package:kotti-ui, type:enhancement

#357 documentation(kotti-ui): Automatically Extract Props
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/pages/components/accordion.vue
  packages/kotti-ui/source/kotti-accordion/KtAccordion.vue
  packages/kotti-ui/source/kotti-field-date/constants.ts
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelect.vue
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-text/KtFieldText.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field/constants.ts
  packages/kotti-ui/source/kotti-heading/KtHeading.vue
  packages/kotti-ui/source/kotti-input/KtInput.vue
  packages/kotti-ui/source/kotti-select/KtSelect.vue
  packages/kotti-ui/source/kotti-table/src/KtTable.vue
Labels: scope:documentation, type:enhancement

#359 chore(#273): Remove KtSelect Completely
  packages/documentation/data/menu.ts
  packages/documentation/pages/components/popover.vue
  packages/documentation/pages/components/select.vue
  packages/documentation/pages/patterns/forms.vue
  packages/documentation/pages/tokens/theming.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-select/KtSelect.vue
  packages/kotti-ui/source/kotti-select/index.ts
  packages/kotti-ui/source/kotti-style/forms/_input.scss
  packages/kotti-ui/source/kotti-style/forms/_misc.scss
Labels: package:kotti-ui, type:refactor

#361 feature(documentation): Display Scoped Slots
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/components/NavBar.vue
  packages/documentation/components/component-info/Slots.vue
Labels: scope:documentation, type:enhancement
