Repository 3YOURMIND/kotti, pull requests merged in 2021-12, with the labels that each got.

#561 Refactor kt comment: zod
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/index.ts
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-comment/utilities.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#563 Refactor kt comment topic/composition api comment input
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
Labels: priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#562 Refactor kt comment topic/composition api comment
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-i18n/hooks.ts
Labels: priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#567 fix(ja-JP): fix optional translation
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
Labels: package:kotti-ui, autorebase:opt-in

#566 feat(KtComment): add translation context to KtComment
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui, autorebase:opt-in

#568 feat(KtPopver): close popper by default on option click
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#571 feat(kt-filters): support data-test attr
  packages/documentation/pages/usage/components/filters.vue
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-filters/components/FilterActions.vue
  packages/kotti-ui/source/kotti-filters/components/FilterList.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/components/FilterSearch.vue
  packages/kotti-ui/source/kotti-filters/types.ts
Labels: type:enhancement, package:kotti-ui, autorebase:opt-in

#572 feat(#249): KtFieldNumber Enhancements
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-number/types.ts
  packages/kotti-ui/source/kotti-field-number/utilities.ts
  packages/kotti-ui/source/kotti-field/tests.ts
  packages/kotti-ui/source/kotti-form-controller-list/tests.ts
  packages/kotti-ui/source/kotti-form-controller-object/tests.ts
  packages/kotti-ui/source/kotti-form/tests.ts
  packages/kotti-ui/source/kotti-i18n/KtI18nContext.ts
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#574 fix(KtFieldNumber): maintain history of displayed string
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in
