Repository 3YOURMIND/kotti, pull requests merged in 2021-11, with the labels that each got.

#546 chore(kotti): Remove Unused SCSS Variables
  packages/documentation/pages/foundations/colors/list-of-colors.vue
  packages/documentation/pages/foundations/units.vue
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-style/_variables.scss
Labels: priority:3-normal, package:kotti-ui, type:chore, autorebase:opt-in

#555 ci(pull-requests): Add actions/labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: priority:3-normal, autorebase:opt-in, scope:ci

#549 KtNavbar: Add Support for Custom Link Components
  packages/documentation/components/NavBar.vue
  packages/documentation/pages/examples/layouts.vue
  packages/documentation/pages/usage/layouts/navbar.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarMenu.vue
  packages/kotti-ui/source/kotti-navbar/types.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#557 feat(KtUserMenu): make link component in KtUserMenu injectible
  packages/documentation/pages/examples/layouts.vue
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
  packages/kotti-ui/source/kotti-user-menu/index.ts
  packages/kotti-ui/source/kotti-user-menu/types.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui, autorebase:opt-in

#558 chore(dependencies): Upgrade Prettier to 2.5
  package.json
  packages/documentation/components/component-info/Slots.vue
  packages/kotti-ui/source/kotti-field/mixins.scss
  packages/kotti-ui/source/kotti-form-submit/KtFormSubmit.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarLogo.vue
  yarn.lock
Labels: priority:3-normal, package:kotti-ui, type:chore, autorebase:opt-in

#560 chore(KtUserMenu): add KottiUserMenu namepsace to exported types
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui, autorebase:opt-in

#447 feat(#439): add interactivity and position to KtLine
  packages/documentation/pages/usage/components/line.vue
  packages/kotti-ui/source/kotti-line/KtLine.vue
  packages/kotti-ui/source/kotti-line/types.ts
Labels: type:enhancement, package:kotti-ui
