Repository 3YOURMIND/kotti, pull requests merged in 2021-05, with the labels that each got.

#437 refact(KtHeading): use typescript and composition api
  packages/kotti-ui/source/kotti-heading/KtHeading.vue
  packages/kotti-ui/source/kotti-heading/index.ts
  packages/kotti-ui/source/kotti-heading/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui, priority:3-normal, type:enhancement

#435 fix(#431): flexed breadcrumb items and aligned separators
  packages/kotti-ui/source/kotti-breadcrumb/KtBreadcrumb.vue
Labels: priority:3-normal, type:bug

#440 improvement(#431): Better Icon Size & Better Centering
  packages/kotti-ui/source/kotti-breadcrumb/KtBreadcrumb.vue
Labels: package:kotti-ui, priority:3-normal, type:bug

#441 refact(KtLine): composition api and typescript, scope css
  packages/kotti-ui/source/kotti-line/KtLine.vue
  packages/kotti-ui/source/kotti-line/index.ts
  packages/kotti-ui/source/kotti-line/types.ts
  packages/kotti-ui/source/kotti-style/_line.scss
  packages/kotti-ui/source/kotti-style/index.scss
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui, type:refactor
