Repository 3YOURMIND/kotti, pull requests merged in 2021-07, with the labels that each got.

#455 Set KtAvatar size in KtComment to small
  packages/kotti-ui/source/kotti-comment/KtComment.vue
Labels: package:kotti-ui, priority:3-normal, type:enhancement

#459 fix(454): remove avatar class, flex reply icons inline with button/text
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/components/CommentReply.vue
Labels: package:kotti-ui, priority:4-high, type:bug

#457 fix(KtFilters): Don't mutate isAddingFilter prop
  packages/kotti-ui/source/kotti-filters/components/FilterList.vue
Labels: type:bug

#458 Kt filters add additional filter types
  packages/documentation/pages/usage/components/filters.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/types.ts
  packages/kotti-ui/source/kotti-filters/utils.ts
  packages/kotti-ui/source/kotti-filters/validators.ts
  packages/kotti-ui/source/kotti-translation/locales/de-DE.ts
  packages/kotti-ui/source/kotti-translation/locales/en-US.ts
  packages/kotti-ui/source/kotti-translation/locales/es-ES.ts
  packages/kotti-ui/source/kotti-translation/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-translation/locales/ja-JP.ts
Labels: type:enhancement

#462 Fix KtFieldNumber increment/decrement fallback
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: type:enhancement

#464 chore(KtTranslationContext): add Japanese translations using deepL
  packages/kotti-ui/source/kotti-translation/locales/ja-JP.ts
Labels: type:enhancement

#466 fix(#465): KtFieldNumber Floating Point
  packages/documentation/pages/usage/components/filters.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-number/utilities.ts
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  yarn.lock
Labels: package:kotti-ui, priority:4-high, type:bug

#471 fix(KtFilters): Wrong Enum for Search Filter
  packages/kotti-ui/source/kotti-filters/types.ts
  packages/kotti-ui/source/kotti-filters/utils.ts
Labels: package:kotti-ui, priority:2-low, type:bug

#472 refactor(KtFilters): Replace boolean toggle with checkbox
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/types.ts
  packages/kotti-ui/source/kotti-translation/locales/de-DE.ts
  packages/kotti-ui/source/kotti-translation/locales/en-US.ts
  packages/kotti-ui/source/kotti-translation/locales/es-ES.ts
  packages/kotti-ui/source/kotti-translation/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-translation/locales/ja-JP.ts
Labels: type:refactor
