Repository 3YOURMIND/kotti, pull requests merged in 2021-09, with the labels that each got.

#477 improvement(KtLoadingClass): Add gray class
  packages/documentation/pages/usage/components/loadings.vue
  packages/kotti-ui/source/kotti-style/_loadings.scss
Labels: type:enhancement

#486 fix(tsconfig): Remove Error that Outputs would Overwrite Input Files
  packages/kotti-ui/tsconfig.json
Labels: type:bug, priority:3-normal, package:kotti-ui

#485 refactor(KtField*): Add Supports to Component Meta
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-date/index.ts
  packages/kotti-ui/source/kotti-field-number/index.ts
  packages/kotti-ui/source/kotti-field-password/index.ts
  packages/kotti-ui/source/kotti-field-radio-group/index.ts
  packages/kotti-ui/source/kotti-field-select/index.ts
  packages/kotti-ui/source/kotti-field-text-area/index.ts
  packages/kotti-ui/source/kotti-field-text/index.ts
  packages/kotti-ui/source/kotti-field-toggle/index.ts
  packages/kotti-ui/source/utilities.ts
Labels: type:refactor, priority:3-normal, package:kotti-ui

#475 ci(unimported): Auto-detect Dead Code
  .github/workflows/ci.yml
  package.json
  packages/kotti-ui/.unimportedrc.json
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/components/CommentReply.vue
  packages/kotti-ui/source/kotti-filters/components/FilterSearch.vue
  packages/kotti-ui/source/kotti-toaster/KtToaster.vue
  packages/kotti-ui/source/util/index.ts
  packages/kotti-ui/source/util/portal/LICENCE
  packages/kotti-ui/source/util/portal/components/Portal.js
  packages/kotti-ui/source/util/portal/components/TargetContainer.js
  packages/kotti-ui/source/util/portal/config.js
  packages/kotti-ui/source/util/portal/index.js
  packages/kotti-ui/source/utilities.ts
  packages/kotti-ui/tsconfig.json
  yarn.lock
Labels: scope:linting, priority:3-normal, package:kotti-ui

#487 Fix placeholder handling
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-date/constants.ts
  packages/kotti-ui/source/kotti-field-date/hooks.ts
  packages/kotti-ui/source/kotti-field-date/types.ts
  packages/kotti-ui/source/kotti-field-date/utilities.ts
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-number/types.ts
  packages/kotti-ui/source/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/kotti-field-password/constants.ts
  packages/kotti-ui/source/kotti-field-password/types.ts
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-radio-group/constants.ts
  packages/kotti-ui/source/kotti-field-radio-group/types.ts
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelectRemote.vue
  packages/kotti-ui/source/kotti-field-select/constants.ts
  packages/kotti-ui/source/kotti-field-select/hooks.ts
  packages/kotti-ui/source/kotti-field-select/styles.scss
  packages/kotti-ui/source/kotti-field-select/types.ts
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-text-area/constants.ts
  packages/kotti-ui/source/kotti-field-text-area/types.ts
  packages/kotti-ui/source/kotti-field-text/KtFieldText.vue
  packages/kotti-ui/source/kotti-field-text/constants.ts
  packages/kotti-ui/source/kotti-field-text/types.ts
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/constants.ts
  packages/kotti-ui/source/kotti-field-toggle/types.ts
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/constants.ts
  packages/kotti-ui/source/kotti-field/errors.ts
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-field/mixins.scss
  packages/kotti-ui/source/kotti-field/tests.ts
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-form-controller-list/tests.ts
  packages/kotti-ui/source/kotti-form-controller-list/types.ts
  packages/kotti-ui/source/kotti-form-controller-object/tests.ts
  packages/kotti-ui/source/kotti-form/KtForm.vue
  packages/kotti-ui/source/kotti-form/tests.ts
  packages/kotti-ui/source/kotti-form/types.ts
Labels: type:bug, priority:3-normal, package:kotti-ui

#489 chore(kotti): Drop IE Support
  packages/documentation/layouts/default.vue
  packages/documentation/package.json
  packages/documentation/pages/foundations/colors/introduction.vue
  packages/documentation/pages/foundations/colors/theming.vue
  packages/documentation/pages/usage/components/accordion.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  yarn.lock
Labels: scope:documentation, priority:2-low, package:kotti-ui, type:chore

#490 chore(@3yourmind/kotti-ui): Remove British English Typos
  packages/documentation/pages/usage/components/banner.vue
  packages/documentation/pages/usage/components/steps.vue
  packages/documentation/pages/usage/components/toaster.vue
  packages/documentation/pages/usage/utilities.vue
  packages/kotti-ui/source/kotti-style/utilities/_text.scss
Labels: type:bug, priority:3-normal, package:kotti-ui

#495 fix(KtFieldDate*Range): Properly Return Default Value
  packages/kotti-ui/source/kotti-field-date/constants.ts
Labels: type:bug, priority:3-normal, package:kotti-ui

#493 refactor(KtButtonGroup): Proper TypeScript Types
  packages/kotti-ui/source/kotti-button-group/KtButtonGroup.vue
  packages/kotti-ui/source/kotti-button-group/index.ts
  packages/kotti-ui/source/kotti-button-group/types.ts
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/components/CommentReply.vue
  packages/kotti-ui/source/types/kotti.ts
Labels: type:refactor, priority:3-normal, package:kotti-ui

#498 Use CSS Custom Properties for Unit over Deprecated SCSS Variables
  packages/documentation/pages/foundations/units.vue
  packages/documentation/pages/usage/components/form.vue
  packages/documentation/pages/usage/styles/form-fields.scss
  packages/kotti-ui/source/kotti-actionbar/KtActionbar.vue
  packages/kotti-ui/source/kotti-button-group/KtButtonGroup.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-drawer/KtDrawer.vue
  packages/kotti-ui/source/kotti-dropdown-button/KtDropdownButton.vue
  packages/kotti-ui/source/kotti-filters/components/FilterActions.vue
  packages/kotti-ui/source/kotti-filters/components/FilterList.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/components/FilterSearch.vue
  packages/kotti-ui/source/kotti-input/KtInput.vue
  packages/kotti-ui/source/kotti-modal/KtModal.vue
  packages/kotti-ui/source/kotti-pagination/KtPagination.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-popover/KtPopoverItem.vue
  packages/kotti-ui/source/kotti-style/_cards.scss
  packages/kotti-ui/source/kotti-style/_codes.scss
  packages/kotti-ui/source/kotti-style/_comments.scss
  packages/kotti-ui/source/kotti-style/_loadings.scss
  packages/kotti-ui/source/kotti-style/_tables.scss
  packages/kotti-ui/source/kotti-style/_typography.scss
  packages/kotti-ui/source/kotti-style/_variables.scss
  packages/kotti-ui/source/kotti-style/_workspace.scss
  packages/kotti-ui/source/kotti-style/forms/_base.scss
  packages/kotti-ui/source/kotti-style/forms/_input.scss
  packages/kotti-ui/source/kotti-style/forms/_label.scss
  packages/kotti-ui/source/kotti-style/spacing.css
  packages/kotti-ui/source/kotti-style/utilities/_position.scss
Labels: type:refactor, priority:3-normal, package:kotti-ui

#496 documentation(units): Add CSS Custom Properties, Mark SCSS as Deprecated, Rename Unit-O to Unit-Q
  packages/documentation/pages/foundations/units.vue
  packages/kotti-ui/source/kotti-style/_variables.scss
  packages/kotti-ui/source/kotti-style/spacing.css
Labels: type:enhancement, scope:documentation, priority:4-high

#497 chore(documentation): Remove More British English
  packages/documentation/components/ColorPalette.vue
  packages/documentation/components/ColorUsage.vue
Labels: type:bug, scope:documentation, priority:2-low

#500 documentation(actionbar): Add Tag Titles
  packages/documentation/components/ActionBar.vue
Labels: scope:documentation, priority:3-normal

#501 dependencies(esm): add esm to devDependencies
  packages/kotti-ui/package.json
Labels: dependencies, priority:3-normal

#491 dx(github-actions): Add Rebase Action via /rebase
  .github/workflows/rebase.yml
Labels: type:enhancement, state:help wanted, scope:build, priority:3-normal, package:kotti-ui

#502 documentation(ci): Add Documentation for Auto-Rebase and /rebase
  README.md
Labels: type:enhancement, scope:documentation, priority:4-high, autorebase:opt-in

#505 add-zod(1): Upgrade TS to 4.3.5
  .eslintrc.js
  package.json
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/pages/changelog.vue
  packages/documentation/pages/foundations/units.vue
  packages/documentation/pages/usage/utilities.vue
  packages/documentation/pages/utilities.ts
  packages/kotti-ui/source/kotti-button-group/types.ts
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelect.vue
  packages/kotti-ui/source/kotti-field-text/KtFieldText.vue
  packages/kotti-ui/source/kotti-field/tests.ts
  packages/kotti-ui/source/kotti-form-controller-list/KtFormControllerList.vue
  packages/kotti-ui/source/kotti-form-controller-list/types.ts
  packages/kotti-ui/source/kotti-form/tests.ts
  packages/kotti-ui/source/kotti-navbar/types.ts
  packages/kotti-ui/source/kotti-translation/types.ts
  packages/kotti-ui/source/kotti-translation/utilities.ts
  packages/kotti-ui/source/utilities.ts
  yarn.lock
Labels: type:refactor, scope:build, priority:4-high, autorebase:opt-in

#506 add-zod(2): Upgrade Babel & Jest
  package.json
  packages/documentation/package.json
  packages/kotti-ui/package.json
  packages/storybook/package.json
  packages/test-app/package.json
  yarn.lock
Labels: scope:build, priority:4-high, type:chore, autorebase:opt-in

#507 add-zod(3): Improve Documentation Rendering for Functions
  packages/documentation/components/ComponentInfo.vue
Labels: type:enhancement, scope:documentation, priority:4-high, autorebase:opt-in

#508 add-zod(4): Move isYocoIcon to @3yourmind/yoco, Add yocoSchema
  packages/kotti-ui/source/kotti-banner/KtBanner.vue
  packages/kotti-ui/source/kotti-breadcrumb/KtBreadcrumb.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-field/constants.ts
  packages/kotti-ui/source/kotti-filters/components/ButtonLink.vue
  packages/kotti-ui/source/kotti-heading/KtHeading.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/validators.ts
  packages/yoco/package.json
  packages/yoco/source/index.ts
  packages/yoco/source/schema.ts
  packages/yoco/source/validator.ts
  yarn.lock
Labels: type:refactor, priority:4-high, package:yoco, autorebase:opt-in

#504 add-zod(5): Add makeProps
  .eslintrc.js
  jest.config.js
  packages/documentation/components/NavBar.vue
  packages/documentation/pages/examples/layouts.vue
  packages/kotti-ui/.unimportedrc.json
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-banner/KtBanner.vue
  packages/kotti-ui/source/kotti-banner/types.ts
  packages/kotti-ui/source/kotti-breadcrumb/KtBreadcrumb.vue
  packages/kotti-ui/source/kotti-breadcrumb/types.ts
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/kotti-line/KtLine.vue
  packages/kotti-ui/source/kotti-line/types.ts
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-navbar/types.ts
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
  packages/kotti-ui/source/kotti-user-menu/types.ts
  packages/kotti-ui/source/make-props.test.ts
  packages/kotti-ui/source/make-props.ts
  packages/kotti-ui/source/test-utils/silence-console.ts
  packages/kotti-ui/source/types/utilities.ts
  packages/kotti-ui/source/zod-refinements.test.ts
  packages/kotti-ui/source/zod-refinements.ts
Labels: type:enhancement, priority:4-high, package:kotti-ui, autorebase:opt-in

#511 dx(eslint): Add Type Hint
  .eslintrc.js
Labels: type:enhancement, priority:3-normal, autorebase:opt-in

#513 documentation(actionbar): Add Zod Tag to Documentation
  packages/documentation/components/ActionBar.vue
  packages/documentation/data/menu.ts
  packages/documentation/pages/foundations/icons/list.vue
  packages/kotti-ui/source/kotti-avatar-group/index.ts
  packages/kotti-ui/source/kotti-avatar/index.ts
  packages/kotti-ui/source/kotti-banner/index.ts
  packages/kotti-ui/source/kotti-breadcrumb/index.ts
  packages/kotti-ui/source/kotti-button-group/index.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-field-date/index.ts
  packages/kotti-ui/source/kotti-field-number/index.ts
  packages/kotti-ui/source/kotti-field-password/index.ts
  packages/kotti-ui/source/kotti-field-radio-group/index.ts
  packages/kotti-ui/source/kotti-field-select/index.ts
  packages/kotti-ui/source/kotti-field-text-area/index.ts
  packages/kotti-ui/source/kotti-field-text/index.ts
  packages/kotti-ui/source/kotti-field-toggle/index.ts
  packages/kotti-ui/source/kotti-field/index.ts
  packages/kotti-ui/source/kotti-filters/index.ts
  packages/kotti-ui/source/kotti-form-controller-list/index.ts
  packages/kotti-ui/source/kotti-form-controller-object/index.ts
  packages/kotti-ui/source/kotti-form-submit/index.ts
  packages/kotti-ui/source/kotti-form/index.ts
  packages/kotti-ui/source/kotti-heading/index.ts
  packages/kotti-ui/source/kotti-line/index.ts
  packages/kotti-ui/source/kotti-modal/index.ts
  packages/kotti-ui/source/kotti-navbar/index.ts
  packages/kotti-ui/source/kotti-row/index.ts
  packages/kotti-ui/source/kotti-translation/index.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: type:enhancement, scope:documentation, priority:3-normal, autorebase:opt-in

#514 fix(documentation): Typo in Import
  packages/documentation/pages/foundations/icons/list.vue
Labels: type:bug, scope:documentation, priority:4-high, autorebase:opt-in

#492 Refactor kt drawer
  packages/documentation/pages/usage/components/drawer.vue
  packages/kotti-ui/source/kotti-drawer/KtDrawer.vue
  packages/kotti-ui/source/kotti-drawer/index.ts
  packages/kotti-ui/source/kotti-drawer/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: type:refactor, priority:3-normal, package:kotti-ui, autorebase:opt-in

#515 fix(KtPopover): Expose isSelected
  packages/documentation/pages/usage/components/popover.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: type:bug, priority:3-normal, package:kotti-ui, autorebase:opt-in
