Repository 3YOURMIND/kotti, pull requests merged in 2022-10, with the labels that each got.

#664 feature(#660): make active step with color text-01 in KtBreadcrumbs
  packages/documentation/pages/usage/components/breadcrumb.vue
  packages/kotti-ui/source/kotti-breadcrumb/KtBreadcrumb.vue
  packages/kotti-ui/source/kotti-breadcrumb/types.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui, autorebase:opt-in

#661 chore(KtRadio/KtRadioGroup): remove them
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/input.vue
  packages/documentation/pages/usage/components/radio.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-radio-group/KtRadioGroup.vue
  packages/kotti-ui/source/kotti-radio-group/index.ts
  packages/kotti-ui/source/kotti-radio/KtRadio.vue
  packages/kotti-ui/source/kotti-radio/index.ts
  packages/kotti-ui/source/kotti-style/_forms.scss
  packages/kotti-ui/source/kotti-style/forms/_misc.scss
  packages/kotti-ui/source/kotti-style/forms/_toggles.scss
Labels: priority:3-normal, package:kotti-ui, type:chore, autorebase:opt-in

#668 feat(KtFieldMultiSelect): support clearOnSelect
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
  packages/kotti-ui/source/kotti-field-select/types.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#669 fix(KtFieldPassword): typo
  packages/kotti-ui/source/kotti-field-password/types.ts
Labels: priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#670 feat(KtField*Select*): default hoveredIndex to `0` instead of `-1`
  packages/kotti-ui/source/kotti-field-select/components/Options.vue
Labels: type:enhancement, package:kotti-ui, autorebase:opt-in

#672 feat(KtField*Select*) Update from No Data string to No Results
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
Labels: type:enhancement, package:kotti-ui, autorebase:opt-in
