Repository 3YOURMIND/kotti, pull requests merged in 2022-01, with the labels that each got.

#576 Introduce zod for kt forms and fields
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/form.vue
  packages/kotti-ui/source/kotti-accordion/types.ts
  packages/kotti-ui/source/kotti-avatar/types.ts
  packages/kotti-ui/source/kotti-banner/types.ts
  packages/kotti-ui/source/kotti-breadcrumb/types.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-date/constants.ts
  packages/kotti-ui/source/kotti-field-date/hooks.ts
  packages/kotti-ui/source/kotti-field-date/types.ts
  packages/kotti-ui/source/kotti-field-date/utilities.ts
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-number/types.ts
  packages/kotti-ui/source/kotti-field-number/utilities.ts
  packages/kotti-ui/source/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/kotti-field-password/types.ts
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-radio-group/types.ts
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelectRemote.vue
  packages/kotti-ui/source/kotti-field-select/constants.ts
  packages/kotti-ui/source/kotti-field-select/hooks.ts
  packages/kotti-ui/source/kotti-field-select/types.ts
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-text-area/types.ts
  packages/kotti-ui/source/kotti-field-text/KtFieldText.vue
  packages/kotti-ui/source/kotti-field-text/types.ts
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/constants.ts
  packages/kotti-ui/source/kotti-field-toggle/types.ts
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/constants.ts
  packages/kotti-ui/source/kotti-field/errors.ts
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-field/tests.ts
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-form-controller-list/tests.ts
  packages/kotti-ui/source/kotti-form-controller-list/types.ts
  packages/kotti-ui/source/kotti-form-controller-object/tests.ts
  packages/kotti-ui/source/kotti-form/KtForm.vue
  packages/kotti-ui/source/kotti-form/tests.ts
  packages/kotti-ui/source/kotti-form/types.ts
  packages/kotti-ui/source/kotti-line/types.ts
  packages/kotti-ui/source/kotti-modal/types.ts
  packages/kotti-ui/source/kotti-navbar/types.ts
  packages/kotti-ui/source/kotti-popover/types.ts
  packages/kotti-ui/source/kotti-user-menu/types.ts
  packages/kotti-ui/source/make-props.test.ts
  packages/kotti-ui/source/make-props.ts
  packages/kotti-ui/source/test-utils/index.ts
  packages/kotti-ui/source/types/utilities.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#577 Kt filters add suffix support for float filters
  packages/documentation/pages/usage/components/filters.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/types.ts
Labels: type:enhancement, package:kotti-ui, autorebase:opt-in

#582 fix(KtFieldNumber): avoid error when invoking focus on undefined inputRef
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: type:bug, priority:3-normal, package:kotti-ui

#584 revert(62b8fa62): KtFieldNumber should not support clear
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-number/types.ts
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui

#585 fix(hideClear): type was picked as never on KtForm
  packages/kotti-ui/source/kotti-form/KtForm.vue
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui

#588 refact(isInRange): moved function to general utilties
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/utilities.ts
  packages/kotti-ui/source/utilities.test.ts
  packages/kotti-ui/source/utilities.ts
Labels: type:enhancement, priority:2-low, package:kotti-ui, autorebase:opt-in
