Repository 3YOURMIND/kotti, pull requests merged in 2022-02, with the labels that each got.

#589 feat(KtFieldNumber): disallow user typing `+`, as it's pointless
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/constants.ts
Labels: priority:3-normal, package:kotti-ui, type:chore, autorebase:opt-in

#591 docs(kt-field-*): added props schemas to kotti fields ts definition
  packages/kotti-ui/source/kotti-col/index.ts
  packages/kotti-ui/source/kotti-field-date/index.ts
  packages/kotti-ui/source/kotti-field-number/index.ts
  packages/kotti-ui/source/kotti-field-password/index.ts
  packages/kotti-ui/source/kotti-field-radio-group/index.ts
  packages/kotti-ui/source/kotti-field-select/index.ts
  packages/kotti-ui/source/kotti-field-text-area/index.ts
  packages/kotti-ui/source/kotti-field-text/index.ts
  packages/kotti-ui/source/kotti-field-toggle/index.ts
  packages/kotti-ui/source/kotti-field/index.ts
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#593 fix(KtField*): Prevent Symbol(NEVER) from Showing-up in Decoration
  packages/kotti-ui/source/kotti-field/hooks.ts
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#581 feature(#249): Add KtFieldCurrency
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-field-currency/KtFieldCurrency.vue
  packages/kotti-ui/source/kotti-field-currency/constants.ts
  packages/kotti-ui/source/kotti-field-currency/index.ts
  packages/kotti-ui/source/kotti-field-currency/input-formatter.test.ts
  packages/kotti-ui/source/kotti-field-currency/input-formatter.ts
  packages/kotti-ui/source/kotti-field-currency/types.ts
  packages/kotti-ui/source/kotti-field-currency/utilities.test.ts
  packages/kotti-ui/source/kotti-field-currency/utilities.ts
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-number/utilities.ts
  packages/kotti-ui/source/kotti-field/tests.ts
  packages/kotti-ui/source/kotti-form-controller-list/tests.ts
  packages/kotti-ui/source/kotti-form-controller-object/tests.ts
  packages/kotti-ui/source/kotti-form/tests.ts
  packages/kotti-ui/source/kotti-i18n/KtI18nContext.ts
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/types/decimal-separator.ts
  packages/kotti-ui/source/types/kotti.ts
  packages/kotti-ui/source/utilities.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#599 fix(KtFieldToggleGroup): value prop is initialized
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
Labels: type:bug, priority:3-normal, package:kotti-ui, autorebase:opt-in

#600 chore(#592): delete isCorrectDataType check
  packages/kotti-ui/source/kotti-field-currency/KtFieldCurrency.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/utilities.ts
  packages/kotti-ui/source/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelectRemote.vue
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-text/KtFieldText.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field/errors.ts
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-field/tests.ts
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-form-controller-list/tests.ts
  packages/kotti-ui/source/kotti-form-controller-object/tests.ts
  packages/kotti-ui/source/kotti-form/tests.ts
Labels: package:kotti-ui, autorebase:opt-in
