Repository 3YOURMIND/kotti, pull requests merged in 2022-12, with the labels that each got.

#686 KtField: support dataTest on input level of all KtFields
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-field/types.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#684 fix(674): moved table form-checkbox properties to KtTable repo
  packages/kotti-ui/source/kotti-style/_forms.scss
  packages/kotti-ui/source/kotti-style/forms/_toggles.scss
  packages/kotti-ui/source/kotti-table/KtTable.vue
Labels: package:kotti-ui, autorebase:opt-in

#683 fix(#882): hovering over an breadcrumb arrow should not change the text's color
  packages/kotti-ui/source/kotti-breadcrumb/KtBreadcrumb.vue
Labels: package:kotti-ui, autorebase:opt-in

#692 Feat(KtField*): Add configurable dataTest prop to form fields documentation page
  packages/documentation/pages/usage/components/form-fields.vue
Labels: type:enhancement, autorebase:opt-in

#693 fix(docs): make folder name of components configurable
  packages/documentation/components/ComponentInfo.vue
  packages/kotti-ui/source/kotti-field-date/index.ts
  packages/kotti-ui/source/kotti-field-select/index.ts
  packages/kotti-ui/source/kotti-field-toggle/index.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui, autorebase:opt-in
