Repository 3YOURMIND/kotti, pull requests merged in 2022-03, with the labels that each got.

#601 KtNavbar: Hide Scrollbar When Overflowing
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
Labels: type:bug, priority:3-normal, package:kotti-ui, autorebase:opt-in

#607 fix(KtFieldCurrency): undefined regex on valueSchema
  packages/kotti-ui/source/kotti-field-currency/constants.ts
  packages/kotti-ui/source/kotti-field-currency/types.ts
Labels: priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#598 feature(KtFilters): Use KtFieldCurrency
  packages/documentation/pages/usage/components/filters.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/types.ts
  packages/kotti-ui/source/kotti-filters/utils.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui, autorebase:opt-in

#608 feature(makeProps): Add Support for z.enum()
  packages/kotti-ui/source/make-props.test.ts
  packages/kotti-ui/source/make-props.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui, autorebase:opt-in

#610 improvement(makeProps): Better Debuggability of safeParse Crashes
  packages/kotti-ui/source/make-props.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui, autorebase:opt-in

#609 documentation(form-fields): Add hasActions
  packages/documentation/pages/usage/components/filters.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/utilities.ts
Labels: scope:documentation, priority:3-normal, autorebase:opt-in

#613 chore(dependencies): Upgrade Prettier
  package.json
  yarn.lock
Labels: dependencies, autorebase:opt-in
