Repository 3YOURMIND/kotti, pull requests merged in 2022-08, with the labels that each got.

#651 650 Accordion make close/open fully controllable
  packages/documentation/pages/usage/components/accordion.vue
  packages/kotti-ui/source/kotti-accordion/KtAccordion.vue
  packages/kotti-ui/source/kotti-accordion/hooks.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#654 Support unique data tests on radio field group
  packages/documentation/pages/usage/components/form.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-radio-group/types.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#658 ci: use node 16 (LTS since Oct 2021) for pipelines
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
Labels: priority:3-normal, autorebase:opt-in, scope:ci

#659 fix(657): tell flex not to shrink its toggle
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleBox.vue
Labels: package:kotti-ui, autorebase:opt-in
