Repository 3YOURMIND/kotti, pull requests merged in 2023-06, with the labels that each got.

#763 fix(KtFilters): support min,max,prefix,suffix fully
  packages/documentation/pages/usage/components/filters.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/types.ts
Labels: priority:4-high ⚠️, package:kotti-ui

#766 KtComment: Fix padding on CommentTextArea container
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
Labels: type:enhancement, priority:2-low, package:kotti-ui, autorebase:opt-in

#767 KtComment: update toggle internal button icon and helpText
  packages/documentation/pages/usage/components/comment.vue
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
Labels: package:kotti-ui

#768 refact(kt-table): remove margin
  packages/kotti-ui/source/kotti-style/_tables.scss
Labels: priority:3-normal, package:kotti-ui, type:chore

#773 refact(kt-field-file-upload): refact pre uploaded files check
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUploadRemote.vue
Labels: type:refactor, priority:4-high ⚠️, package:kotti-ui

#774 refact(kt-field-file-upload): refact Value types
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
Labels: type:refactor, priority:3-normal, package:kotti-ui

#779 feat(#777): emit blur from KtFieldNumber
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/form.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: package:kotti-ui, autorebase:opt-in
