Repository 3YOURMIND/kotti, pull requests merged in 2023-08, with the labels that each got.

#789 fix(kt-table): fix KtTable sort icon style in column header
  packages/kotti-ui/source/kotti-table/KtTable.vue
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui

#791 fix(kt-table): fix broken icons size inside row actions popover
  packages/kotti-ui/source/kotti-table/KtTable.vue
Labels: type:bug, priority:3-normal, package:kotti-ui

#794 fix(kt-field-date): fix broken table styles
  packages/kotti-ui/source/kotti-field-date/mixins.scss
Labels: type:bug, priority:3-normal, package:kotti-ui

#797 fix(kt-table): fix sorted-columns type and docs
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/source/kotti-table/types.ts
Labels: scope:documentation, priority:3-normal, package:kotti-ui, type:chore

#798 fix(kt-avatar): fix slots.content call outside render scope
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
Labels: type:bug, priority:3-normal, package:kotti-ui

#803 chore(docs): remove outdated colors in list-of-colors.vue
  packages/documentation/pages/foundations/colors/list-of-colors.vue
Labels: scope:documentation, priority:3-normal, type:chore

#804 fix(kt-field-file-upload): missing icon in file item description
  packages/kotti-ui/source/kotti-field-file-upload/components/ItemLayout.vue
Labels: type:bug, priority:3-normal, package:kotti-ui

#802 feature(#801): give a default border to clickable cards
  packages/kotti-ui/source/kotti-card/KtCard.vue
Labels: package:kotti-ui

#800 feature(#799): added svg image for the tile_layout (to be used in cat…
  packages/yoco/package.json
  packages/yoco/source/types.ts
  packages/yoco/svg/tile_layout.svg
Labels: package:yoco

#805 chore(dependencies): update @3yourmind/yoco to v2.4.6
  packages/kotti-ui/package.json
Labels: dependencies, priority:3-normal, package:kotti-ui, type:chore

#810 feat(kt-field-select): add data test to actions
  packages/kotti-ui/source/kotti-field-select/components/Options.vue
  packages/kotti-ui/source/kotti-field-select/types.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui

#809 chore(readme): update publish steps
  README.md
Labels: type:chore
