Repository 3YOURMIND/kotti, pull requests merged in 2023-01, with the labels that each got.

#700 feat(KtFilters/KtFieldToggle): Initial default value is true instead of null
  packages/kotti-ui/source/kotti-filters/utils.ts
Labels: type:enhancement, package:kotti-ui, autorebase:opt-in

#701 feat(699): show label suffix next to default slot when label is not g…
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleInnerSuffix.vue
  packages/kotti-ui/source/kotti-field-toggle/types.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui

#695 feat(KtFieldToggle): change color of checkbox bg
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleBox.vue
Labels: package:kotti-ui

#694 feat(KtTag): Create Chip Component for MultiSelects & Future Components
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/tag.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
  packages/kotti-ui/source/kotti-tag/KtTag.vue
  packages/kotti-ui/source/kotti-tag/index.ts
  packages/kotti-ui/source/kotti-tag/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

#703 feat(KtPopover): extend options API to allow for checkboxes
  packages/documentation/pages/usage/components/popover.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-popover/components/IconTextItem.vue
  packages/kotti-ui/source/kotti-popover/types.ts
Labels: package:kotti-ui

#705 Add some data test attributes
  packages/documentation/pages/usage/components/accordion.vue
  packages/kotti-ui/source/kotti-accordion/KtAccordion.vue
  packages/kotti-ui/source/kotti-accordion/types.ts
  packages/kotti-ui/source/kotti-breadcrumb/KtBreadcrumb.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/types.ts
Labels: package:kotti-ui

#623 Bump eslint
  .eslintrc.js
  package.json
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/components/YocoPreview.vue
  packages/documentation/layouts/empty.vue
  packages/documentation/layouts/fullpage.vue
  packages/documentation/pages/examples/layouts.vue
  packages/documentation/pages/foundations/colors/figma.vue
  packages/documentation/pages/foundations/colors/introduction.vue
  packages/documentation/pages/foundations/colors/list-of-colors.vue
  packages/documentation/pages/foundations/colors/list-of-tokens.vue
  packages/documentation/pages/foundations/colors/theming.vue
  packages/documentation/pages/usage/components/form.vue
  packages/documentation/pages/usage/components/popover.vue
  packages/kotti-ui/source/kotti-actionbar/KtActionbar.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/components/CommentActions.vue
  packages/kotti-ui/source/kotti-comment/components/CommentInlineEdit.vue
  packages/kotti-ui/source/kotti-field-currency/utilities.test.ts
  packages/kotti-ui/source/kotti-field-date/utilities.ts
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
  packages/kotti-ui/source/kotti-field/tests.ts
  packages/kotti-ui/source/kotti-filters/components/FilterList.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/kotti-inline-edit/KtInlineEdit.vue
  packages/kotti-ui/source/kotti-input/KtInput.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-step/KtStep.vue
  packages/kotti-ui/source/kotti-steps/KtSteps.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
  packages/kotti-ui/source/make-props.ts
  packages/kotti-ui/source/zod-refinements.test.ts
  yarn.lock
Labels: dependencies, scope:linting, priority:3-normal, package:kotti-ui, autorebase:opt-in
