Repository 3YOURMIND/kotti, pull requests merged in 2023-02, with the labels that each got.

#653 chore(kt-table): add types.ts
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.js
  packages/kotti-ui/source/kotti-table/components/TableBody.jsx
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table/constants.js
  packages/kotti-ui/source/kotti-table/index.ts
  packages/kotti-ui/source/kotti-table/logic/column.js
  packages/kotti-ui/source/kotti-table/logic/disable.js
  packages/kotti-ui/source/kotti-table/logic/sort.js
  packages/kotti-ui/source/kotti-table/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: scope:documentation, priority:3-normal, package:kotti-ui, type:chore, autorebase:opt-in

#711 fix(KtFieldNumber): fix in/decrement buttons click propagation
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: package:kotti-ui

#710 feat(KtPopover): make open-close state of popover available
  packages/documentation/pages/usage/components/popover.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: package:kotti-ui, autorebase:opt-in

#712 Delete Ktstep and Ktsteps
  packages/documentation/pages/usage/components/steps.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-step/KtStep.vue
  packages/kotti-ui/source/kotti-step/index.ts
  packages/kotti-ui/source/kotti-steps/KtSteps.vue
  packages/kotti-ui/source/kotti-steps/index.ts
Labels: priority:4-high ⚠️, package:kotti-ui

#718 chore(712) delete usage of KtSteps in documentation's menu.ts
  packages/documentation/data/menu.ts
Labels: type:bug, priority:4-high ⚠️

#720 chore(unimported): remove unused package "color" from kotti-ui
  packages/kotti-ui/package.json
  yarn.lock
Labels: priority:4-high ⚠️, package:kotti-ui, autorebase:opt-in

#715 delete(KtTheme): remove deprecated components and quick fix docs
  packages/documentation/pages/foundations/colors/theming.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-theme/KtTheme.vue
  packages/kotti-ui/source/kotti-theme/index.ts
Labels: package:kotti-ui

#721 feat(Yoco): add Yoco.Icon.RELOAD
  packages/yoco/package.json
  packages/yoco/source/types.ts
  packages/yoco/svg/reload.svg
Labels: priority:4-high ⚠️, package:yoco

#724 chore(dependencies): update @3yourmind/yoco's version to ^2.4.2
  packages/kotti-ui/package.json
Labels: package:kotti-ui, autorebase:opt-in
