Repository 3YOURMIND/kotti, pull requests merged in 2023-11, with the labels that each got.

#824 fix(kt-field-file-upload): fix component width
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUploadRemote.vue
  packages/kotti-ui/source/kotti-field-file-upload/styles.scss
Labels: type:bug, priority:3-normal, package:kotti-ui

#825 chore(nuxt-deps): update nuxt dependencies & metatypes/units-typpography
  packages/documentation/nuxt.config.js
  packages/documentation/package.json
  yarn.lock
Labels: dependencies, priority:3-normal

#826 chore(storybook): delete storybook package and refact useTippy
  .eslintrc.js
  .gitignore
  README.md
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
  packages/storybook/README.md
  packages/storybook/package.json
  packages/storybook/stories/KtTest.stories.js
  packages/vue-use-tippy/README.md
  packages/vue-use-tippy/source/index.ts
  packages/vue-use-tippy/tsconfig.json
  yarn.lock
Labels: package:kotti-ui, type:chore, package:vue-use-tippy

#827 docs(vue-use-tippy): use .value in README example
  packages/vue-use-tippy/README.md
Labels: package:vue-use-tippy

#828 feat(kt-filters): add date range shortcuts support
  packages/documentation/pages/usage/components/filters.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/types.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui

#813 feature(#812): add breakpoint 3x for 1920 px
  packages/kotti-ui/source/kotti-style/_variables.scss
Labels: package:kotti-ui

#834 fix(#833): remove capitalize transform
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
  packages/kotti-ui/source/kotti-tag/KtTag.vue
Labels: package:kotti-ui

#835 fix(KtFieldToggle): classes changed in #706
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleBox.vue
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleSwitch.vue
Labels: priority:4-high ⚠️, package:kotti-ui

#839 fix(KtFieldRadio/ToggleGroup): allow growth/shrinkage
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
Labels: package:kotti-ui

#840 fix(makeProps): required condition was swapped
  packages/kotti-ui/source/make-props.ts
Labels: package:kotti-ui

#844 fix(kt-field-inline-edit): add disabled color for edit icon
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-inline-edit/components/EditIcon.vue
Labels: type:bug, priority:3-normal, package:kotti-ui
