Repository 3YOURMIND/kotti, pull requests merged in 2023-10, with the labels that each got.

#757 feat(KtFieldInlineEdit): new field to replace old `inlineEdit`, compatible with KtForm
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/field-inline-edit.vue
  packages/documentation/pages/usage/components/inline-edit.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-inline-edit/components/ConfirmButton.vue
  packages/kotti-ui/source/kotti-field-inline-edit/components/EditIcon.vue
  packages/kotti-ui/source/kotti-field-inline-edit/constants.ts
  packages/kotti-ui/source/kotti-field-inline-edit/hooks.ts
  packages/kotti-ui/source/kotti-field-inline-edit/index.ts
  packages/kotti-ui/source/kotti-field-inline-edit/types.ts
  packages/kotti-ui/source/kotti-field-inline-edit/utils.ts
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/mixins.scss
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/kotti-inline-edit/KtInlineEdit.vue
  packages/kotti-ui/source/kotti-inline-edit/index.ts
  packages/kotti-ui/source/kotti-inline-edit/utilities.ts
  packages/kotti-ui/source/types/kotti.ts
  packages/kotti-ui/source/types/utilities.ts
Labels: package:kotti-ui

#822 fix(KtFieldInlineEdit): confirm button data-test prop
  packages/kotti-ui/source/kotti-field-inline-edit/components/ConfirmButton.vue
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui

#817 feat(kt-value-label): add KtValueLabel
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/value-label.vue
  packages/documentation/pages/utilities.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-field/mixins.scss
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/kotti-value-label/KtValueLabel.vue
  packages/kotti-ui/source/kotti-value-label/index.ts
  packages/kotti-ui/source/kotti-value-label/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: type:new-component, priority:3-normal, package:kotti-ui
