Repository 3YOURMIND/kotti, pull requests merged in 2023-05, with the labels that each got.

#744 fix(KtButtonGroup): styles
  packages/kotti-ui/source/kotti-button-group/KtButtonGroup.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
Labels: package:kotti-ui

#745 chore(KtInput): delete component and usages
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/input.vue
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-input/KtInput.vue
  packages/kotti-ui/source/kotti-input/index.ts
  packages/kotti-ui/source/kotti-style/forms/_input.scss
Labels: package:kotti-ui

#746 refact(kt-comment): Unify KtComment actions
  packages/kotti-ui/source/kotti-comment/components/CommentActions.vue
  packages/kotti-ui/source/kotti-comment/components/CommentActionsOptions.vue
  packages/kotti-ui/source/kotti-comment/components/CommentActionsReply.vue
Labels: type:refactor, priority:4-high ⚠️, package:kotti-ui

#748 KtComment: replace KtPopover in CommentActions
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/components/CommentActions.vue
  packages/kotti-ui/source/kotti-comment/components/CommentHeader.vue
  packages/kotti-ui/source/kotti-comment/components/CommentReply.vue
  packages/kotti-ui/source/kotti-comment/types.ts
Labels: package:kotti-ui

#751 fix(kt-button): bind inheritable attributes to the button instead of the root node
  packages/kotti-ui/source/kotti-button/KtButton.vue
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui

#750 KtComment: refact comments components
  packages/documentation/pages/usage/components/comment.vue
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/components/CommentActions.vue
  packages/kotti-ui/source/kotti-comment/components/CommentEntry.vue
  packages/kotti-ui/source/kotti-comment/components/CommentHeader.vue
  packages/kotti-ui/source/kotti-comment/components/CommentInlineEdit.vue
  packages/kotti-ui/source/kotti-comment/components/CommentReply.vue
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
Labels: type:refactor, priority:4-high ⚠️, package:kotti-ui

#755 fix(kt-field-file-upload): fix file item layout
  packages/kotti-ui/source/kotti-field-file-upload/components/ItemLayout.vue
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui

#749 Kt button toggleable type
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/types.ts
Labels: type:enhancement, package:kotti-ui, autorebase:opt-in

#753 refact(kt-comment): Refact CommentInlineEdit and KtCommentInput
  packages/documentation/pages/usage/components/comment.vue
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/components/CommentActions.vue
  packages/kotti-ui/source/kotti-comment/components/CommentEntry.vue
  packages/kotti-ui/source/kotti-comment/components/CommentHeader.vue
  packages/kotti-ui/source/kotti-comment/components/CommentInlineEdit.vue
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
  packages/kotti-ui/source/kotti-comment/hooks.ts
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-comment/utilities.ts
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
Labels: type:refactor, priority:4-high ⚠️, package:kotti-ui

#758 chore(yoco): bump to version 2.4.4
  packages/kotti-ui/package.json
Labels: package:kotti-ui

#762 feat(kt-filters): add maximum and minimum to float filters
  packages/documentation/pages/usage/components/filters.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-filters/types.ts
Labels: type:enhancement, priority:4-high ⚠️, package:kotti-ui

#761 feat(kt-comment): add data-test support
  packages/documentation/pages/usage/components/comment.vue
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/components/CommentActions.vue
  packages/kotti-ui/source/kotti-comment/components/CommentEntry.vue
  packages/kotti-ui/source/kotti-comment/components/CommentInlineEdit.vue
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
  packages/kotti-ui/source/kotti-comment/types.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui
