Repository 3YOURMIND/kotti, pull requests merged in 2023-12, with the labels that each got.

#848 Fix undeclared deps
  .eslintrc.js
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/data/menu.ts
  packages/documentation/package.json
  packages/documentation/pages/changelog.vue
  packages/documentation/pages/utils/date.ts
  packages/documentation/tsconfig.json
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/components/CommentEntry.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Capture.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-select/components/Options.vue
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field/tests.ts
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-form-controller-list/tests.ts
  packages/kotti-ui/source/kotti-form-controller-object/tests.ts
  packages/kotti-ui/source/kotti-form/tests.ts
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/logic/expand.js
  packages/kotti-ui/source/kotti-table/logic/select.js
  packages/kotti-ui/source/make-props.test.ts
  packages/kotti-ui/source/make-props.ts
  packages/vue-use-tippy/package.json
  yarn.lock
Labels: package:kotti-ui, package:vue-use-tippy

#845 fix(kt-field-dates): add missing data-test to KtFieldDates
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
Labels: type:enhancement, priority:3-normal, package:kotti-ui

#841 feat(KtField): scope the isLoading skeleton to the input only
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/types.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui

#850 fix(KtFieldToggle/KtFieldSelects/KtFieldDates/KtFieldFileUpload): isLoading edge cases
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUploadRemote.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-style/_loadings.scss
Labels: package:kotti-ui

#849 refact(kt-field): refact label to reduce field interactivity
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUploadRemote.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-select/components/ActionIcon.vue
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleInner.vue
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleInnerSuffix.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-field/types.ts
Labels: priority:3-normal, package:kotti-ui

#854 fix: resolve several visual bugs for narrow nav bar
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarTooltip.vue
Labels: package:kotti-ui

#855 refact(kotti-ui/utils): move isInFocus to root of kotti-ui
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
  packages/kotti-ui/source/kotti-comment/utilities.ts
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-inline-edit/utils.ts
  packages/kotti-ui/source/utilities.ts
Labels: package:kotti-ui, type:chore
