Repository 3YOURMIND/kotti, pull requests merged in 2023-07, with the labels that each got.

#784 chore(kt-table): refact selectable checkbox styles
  packages/kotti-ui/source/kotti-style/_tables.scss
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/style/form-checkbox.scss
Labels: priority:3-normal, package:kotti-ui, type:chore

#783 chore(kt-field-number): remove unused disabled style
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: priority:3-normal, package:kotti-ui, type:chore

#776 fix(KtFieldNumber): when any of the buttons is disabled "cursor: not-allowed" is applied
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: type:enhancement, package:kotti-ui, autorebase:opt-in

#786 refact(show-case): refact ShowCase.vue
  packages/documentation/components/CodePreview.vue
  packages/documentation/components/ShowCase.vue
  packages/documentation/pages/usage/components/banner.vue
  packages/documentation/pages/usage/components/button.vue
  packages/documentation/pages/usage/components/drawer.vue
  packages/documentation/pages/usage/components/table.vue
Labels: type:enhancement, scope:documentation, priority:3-normal

#787 refact(kt-table): refact KtTable styles
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/source/kotti-style/_tables.scss
  packages/kotti-ui/source/kotti-style/index.scss
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/components/TableRow.jsx
Labels: priority:3-normal, package:kotti-ui, type:chore
