Repository 3YOURMIND/kotti, pull requests merged in 2023-04, with the labels that each got.

#737 fix(KtAvatar): image & fallback to grow in height
  packages/documentation/pages/usage/components/avatar.vue
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
Labels: type:bug, package:kotti-ui, autorebase:opt-in

#738 feat(KtField): enable forceUpdate on useValue hook
  packages/kotti-ui/source/kotti-field/errors.ts
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-field/types.ts
Labels: type:enhancement, priority:4-high ⚠️

#739 feat(KtField): no force support getEmptyValue if clear is false on su…
  packages/kotti-ui/source/kotti-field-currency/KtFieldCurrency.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
Labels: package:kotti-ui

#740 fix(chrome): make animation of skeletons work for chrome as well
  packages/kotti-ui/source/kotti-style/_loadings.scss
Labels: package:kotti-ui

#742 refact(kt-field-file-upload): use shortid instead of uuid
  packages/documentation/pages/usage/styles/form-fields.scss
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
  packages/kotti-ui/source/kotti-field-file-upload/utils/non-remote.ts
  packages/kotti-ui/source/kotti-field-file-upload/utils/remote.ts
  yarn.lock
Labels: package:kotti-ui

#743 feat(KtButton): Add iconPosition prop defaulted to left
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/types.ts
Labels: type:enhancement, package:kotti-ui, autorebase:opt-in
