Repository 3YOURMIND/kotti, pull requests merged in 2024-03, with the labels that each got.

#898 ci(all): Add Publint
  .github/workflows/ci.yml
  package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/vue-use-tippy/scripts/build.sh
  packages/vue-use-tippy/tsconfig.cjs.json
  packages/vue-use-tippy/tsconfig.json
  packages/vue-use-tippy/tsconfig.mjs.json
  packages/yoco/package.json
  packages/yoco/scripts/build.sh
  packages/yoco/source/generate.ts
  packages/yoco/tsconfig.cjs.json
  packages/yoco/tsconfig.json
  packages/yoco/tsconfig.mjs.json
  scripts/build-kotti.sh
  yarn.lock
Labels: priority:4-high ⚠️, package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

#894 feat(split-button): add split button
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: type:new-component, priority:3-normal, package:kotti-ui

#899 Revert "feat(split-button): add split button"
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

#902 fix(build): make yoco and vue-use-tippy esm by default
  .github/workflows/ci.yml
  packages/vue-use-tippy/package.json
  packages/vue-use-tippy/scripts/build.sh
  packages/yoco/package.json
  packages/yoco/scripts/build.sh
Labels: package:yoco, package:vue-use-tippy, scope:ci

#901 feat(split-button): add split button
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: type:new-component, priority:3-normal, package:kotti-ui
