Repository 3YOURMIND/kotti, pull requests merged in 2024-12, with the labels that each got.

#1028 update props types
  packages/documentation/pages/usage/components/standard-table.vue
  packages/kotti-ui/source/kotti-table/KtStandardTable.vue
  packages/kotti-ui/source/kotti-table/standard-table/context.ts
  packages/kotti-ui/source/kotti-table/standard-table/hooks.ts
  packages/kotti-ui/source/kotti-table/standard-table/types.ts
  packages/kotti-ui/source/kotti-table/table/hooks.ts
Labels: package:kotti-ui

#1027 feature(#1005): Hide or reveal passwords
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/kotti-field-password/types.ts
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-form/KtForm.vue
  packages/kotti-ui/source/test-utils/index.ts
  packages/yoco/source/index.ts
  packages/yoco/svg/eye_slashed.svg
Labels: scope:documentation, package:kotti-ui, package:yoco

#1030 version(yoco@2.8.0): eye_slashed icon
  packages/kotti-ui/package.json
  packages/yoco/package.json
Labels: package:kotti-ui, package:yoco

#1032 fix(KtPagination): disable back button on first page
  packages/kotti-ui/source/kotti-pagination/KtPagination.vue
Labels: package:kotti-ui

#1031 feature(KtTable): initial implementation
  eslint.config.mjs
  packages/documentation/components/CodePreviewLegacy.vue
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/drawer.vue
  packages/documentation/pages/usage/components/table-legacy.vue
  packages/documentation/pages/usage/components/table.vue
  packages/documentation/styles/tables.scss
  packages/eslint-config/source/index.ts
  packages/kotti-ui/package.json
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/globals.d.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-field-currency/KtFieldCurrency.vue
  packages/kotti-ui/source/kotti-field-currency/utilities.test.ts
  packages/kotti-ui/source/kotti-field-currency/utilities.ts
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-number/utilities.ts
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/kotti-table-legacy/index.ts
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/index.ts
  packages/kotti-ui/source/kotti-table/table/column-helper.ts
  packages/kotti-ui/source/kotti-table/table/context.ts
  packages/kotti-ui/source/kotti-table/table/hooks.ts
  packages/kotti-ui/source/kotti-table/table/local.ts
  packages/kotti-ui/source/kotti-table/table/row.ts
  packages/kotti-ui/source/kotti-table/table/tanstack-table/index.ts
  packages/kotti-ui/source/kotti-table/table/types.ts
  packages/kotti-ui/source/kotti-table/table/use-computed-ref.ts
  packages/kotti-ui/source/locales/input.json
  packages/kotti-ui/source/shared-components/toggle-inner/ToggleBox.vue
  packages/kotti-ui/source/shared-components/toggle-inner/ToggleInner.vue
  packages/kotti-ui/source/shared-components/toggle-inner/ToggleSwitch.vue
  packages/kotti-ui/source/types/kotti.ts
  packages/kotti-ui/source/utilities.ts
  packages/kotti-ui/tsconfig.json
  yarn.lock
Labels: scope:documentation, package:kotti-ui, package:eslint-config

#1034 fix(KtTable): fix styling issues with the table
  packages/documentation/components/YocoPreview.vue
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/globals.d.ts
  packages/kotti-ui/source/kotti-style/_loadings.scss
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/table/column-helper.ts
  packages/kotti-ui/source/kotti-table/table/hooks.ts
  packages/kotti-ui/source/kotti-table/table/types.ts
  packages/yoco/package.json
  packages/yoco/source/index.ts
  packages/yoco/svg/arrow_down.svg
  packages/yoco/svg/arrow_up.svg
  packages/yoco/svg/arrow_up_down.svg
Labels: scope:documentation, package:kotti-ui, package:yoco
