Repository 3YOURMIND/kotti, pull requests merged in 2024-06, with the labels that each got.

#928 refact(KtTable): turn all files in kotti-table/logic into typescript
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.d.ts
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/KtTableConsumer.d.ts
  packages/kotti-ui/source/kotti-table/KtTableConsumer.ts
  packages/kotti-ui/source/kotti-table/KtTableProvider.d.ts
  packages/kotti-ui/source/kotti-table/KtTableProvider.ts
  packages/kotti-ui/source/kotti-table/components/TableBody.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyEmptyRow.js
  packages/kotti-ui/source/kotti-table/components/TableBodyEmptyRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyExpandRow.js
  packages/kotti-ui/source/kotti-table/components/TableBodyExpandRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyLoadingRow.js
  packages/kotti-ui/source/kotti-table/components/TableBodyLoadingRow.ts
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table/components/TableHeaderCell.js
  packages/kotti-ui/source/kotti-table/components/TableHeaderCell.ts
  packages/kotti-ui/source/kotti-table/components/TableRow.js
  packages/kotti-ui/source/kotti-table/components/TableRow.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/filter.ts
  packages/kotti-ui/source/kotti-table/logic/hide.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/row.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/mixins.d.ts
  packages/kotti-ui/source/kotti-table/mixins.js
  packages/kotti-ui/source/kotti-table/mixins.ts
  packages/kotti-ui/source/kotti-table/table-layout.ts
Labels: package:kotti-ui

#931 fix(SSR): explicitly load KtNavbar as a component
  packages/documentation/components/NavBar.vue
  packages/documentation/package.json
  packages/documentation/scripts/test-for-ssr-bug.sh
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
Labels: package:kotti-ui

#932 chore(turbo): set $schema to v1 version
  internals/fake-root/turbo.json
  packages/documentation/turbo.json
  packages/eslint-config/turbo.json
  packages/kotti-ui/turbo.json
  packages/vue-use-tippy/turbo.json
  packages/yoco/turbo.json
  turbo.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy

#936 fix(KtTable): fix disappearing table columns when changing anything after initial load
  packages/kotti-ui/source/kotti-table/logic/column.ts
Labels: package:kotti-ui

#934 fix(KtTable): reinstate $scopedSlot as they are needed in vue@2.7
  packages/eslint-config/source/index.ts
  packages/kotti-ui/source/kotti-table/KtTable.vue
Labels: package:kotti-ui

#935 fix(KtPagination): don't increment as v-for starts iteration at 1
  packages/kotti-ui/source/kotti-pagination/components/PaginationExpanded.vue
Labels: package:kotti-ui

#930 refact(KtTable): declare table store's state types
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/filter.ts
  packages/kotti-ui/source/kotti-table/logic/hide.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/row.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
  packages/kotti-ui/source/kotti-table/types.ts
Labels: package:kotti-ui

#933 refact(KtTable): Gather table store mutation types
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/components/TableRow.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/filter.ts
  packages/kotti-ui/source/kotti-table/logic/hide.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/row.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

#942 fix(KtUserMenu): tell avatar to not shrink
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
Labels: package:kotti-ui

#947 fix(filesize): use iec standard in order to display clear unit for filesizes
  packages/kotti-ui/source/kotti-field-file-upload/formatters.ts
Labels: package:kotti-ui

#948 Revert "refact(KtTable): declare state types"
  packages/kotti-ui/source/kotti-table/KtTable.vue
Labels: package:kotti-ui

#944 fix(KtUserMenu): tell avatar to not shrink
  packages/kotti-ui/source/kotti-user-menu/KtUserMenu.vue
Labels: type:bug, priority:3-normal, package:kotti-ui

#939 refact(KtTable): declare table getter types
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/filter.ts
  packages/kotti-ui/source/kotti-table/logic/hide.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/row.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

#951 fix(all): comply to esm standard by providing full path for file imports
  eslint.config.mjs
  packages/documentation/components/ComponentInfo.vue
  packages/documentation/data/menu.ts
  packages/documentation/pages/changelog.vue
  packages/documentation/pages/usage/components/comment.vue
  packages/documentation/pages/usage/components/filters.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/value-label.vue
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/components/CommentEntry.vue
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
  packages/kotti-ui/source/kotti-comment/utilities.ts
  packages/kotti-ui/source/kotti-field-date/el-locales.d.ts
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Capture.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-select/components/Options.vue
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-form-controller-list/KtFormControllerList.vue
  packages/kotti-ui/source/kotti-form/KtForm.vue
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/source/kotti-navbar/KtNavbar.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/KtTableProvider.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/disable.ts
  packages/kotti-ui/source/kotti-table/logic/expand.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/sort.ts
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/make-props.test.ts
  packages/kotti-ui/source/make-props.ts
Labels: package:kotti-ui

#949 fix(KtTable): use attrs instead of domProps for specific attributes
  packages/kotti-ui/source/kotti-table/components/TableBody.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyExpandRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyLoadingRow.ts
  packages/kotti-ui/source/kotti-table/components/TableRow.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
Labels: package:kotti-ui

#952 hack(vue-use-tippy): make sure tippy is always a function
  packages/vue-use-tippy/source/index.ts
Labels: package:vue-use-tippy

#953 chore(build): add support to export packages as tarballs
  .gitignore
  README.md
  package.json
  packages/documentation/turbo.json
  packages/eslint-config/package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
  packages/yoco/turbo.json
  turbo.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy

#954 chore(eslint): enforce default imports for dependencies that are not verifiably modern
  eslint.config.mjs
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-date/el-locales.d.ts
Labels: package:kotti-ui

#943 fix(exports): expose svg folder
  packages/yoco/package.json
Labels: package:yoco

#955 chore(tarballs): place tarballs into same directory in root
  .gitignore
  packages/eslint-config/package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
  turbo.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy
