Repository 3YOURMIND/kotti, pull requests merged in 2024-07, with the labels that each got.

#956 dependencies(babel-preset-env): bump to v7.24.7
  package.json
  yarn.lock
Labels: dependencies, priority:4-high ⚠️

#958 chore(build): make script build:kotti run not concurrently
  packages/kotti-ui/package.json
Labels: scope:build, package:kotti-ui

#959 version(kotti-ui@6.0.0-rc): vue@2.7 and build system
  README.md
  internals/scripts/source/publish.ts
  packages/documentation/package.json
  packages/eslint-config/package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy

#957 chore(node): bump node engine to >=20
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/publish.yml
  package.json
  packages/yoco/package.json
Labels: package:yoco, scope:ci

#940 refact(KtTable): declare table emit types
  packages/kotti-ui/source/kotti-table/logic/store.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

#964 feat(yoco): add attention, circle_minus, circle_search icons
  packages/kotti-ui/package.json
  packages/yoco/package.json
  packages/yoco/source/index.ts
  packages/yoco/svg/attention.svg
  packages/yoco/svg/circle_minus.svg
  packages/yoco/svg/circle_search.svg
Labels: type:enhancement, package:kotti-ui, package:yoco

#967 fix(build): don't externalize element-ui's locales
  packages/documentation/components/component-info/Slots.vue
  packages/documentation/layouts/default.vue
  packages/documentation/layouts/fullpage.vue
  packages/documentation/pages/usage/components/accordion.vue
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/vite.config.ts
Labels: package:kotti-ui

#966 fix(KtFieldInlineEdit): wait for dom to render before calculationg height
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-inline-edit/components/EditIcon.vue
  packages/kotti-ui/source/kotti-field-inline-edit/hooks.ts
  packages/kotti-ui/source/kotti-field-inline-edit/utils.ts
Labels: package:kotti-ui

#968 version(kotti-ui@6.0.0): vue@2.7 and build system
  packages/documentation/package.json
  packages/kotti-ui/package.json
Labels: package:kotti-ui

#969 refact(kt-table): remove $on call from KtTable
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
Labels: package:kotti-ui

#971 refactor(KtTable): use composition API for Table*Cell files
  packages/documentation/tsconfig.json
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyEmptyRow.ts
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table/components/TableHeaderCell.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/mixins.ts
  packages/kotti-ui/source/kotti-table/types.ts
  packages/kotti-ui/source/types/kotti.ts
  packages/kotti-ui/source/types/typed-emit.ts
  packages/kotti-ui/tsconfig.json
  tsconfig.json
Labels: package:kotti-ui

#972 refactor(KtTable): use Composition API for TableBody*Row components
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyEmptyRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyExpandRow.ts
  packages/kotti-ui/source/kotti-table/components/TableBodyLoadingRow.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/mixins.ts
  packages/vue-project/src/App.vue
Labels: package:kotti-ui

#973 fix(element-ui): externalize translations
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/vite.config.ts
Labels: package:kotti-ui

#975 refactor(KtTable): use Composition API in TableHeader.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/select.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
  packages/kotti-ui/source/kotti-table/types.ts
Labels: package:kotti-ui

#976 dep(zod): lock version to v3.23.6
  internals/scripts/package.json
  packages/kotti-ui/package.json
  packages/yoco/package.json
  yarn.lock
Labels: package:kotti-ui, package:yoco

#977 dep(zod): lock zod version to v3.22.5
  internals/scripts/package.json
  packages/kotti-ui/package.json
  packages/yoco/package.json
  yarn.lock
Labels: package:kotti-ui, package:yoco

#974 feature(#970) : force internal comments for KtCommentInput (and KtComment)
  packages/documentation/pages/usage/components/comment.vue
  packages/kotti-ui/source/kotti-comment/KtComment.vue
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/types.ts
Labels: package:kotti-ui

#978 refactor(KtTable): use Composition API in TableBody component
  packages/kotti-ui/source/kotti-table/components/TableBody.ts
  packages/kotti-ui/source/kotti-table/constants.ts
Labels: package:kotti-ui

#980 refactor(KtTable): yeet table layout (dead code)
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/KtTableColumn.ts
  packages/kotti-ui/source/kotti-table/components/TableBody.ts
  packages/kotti-ui/source/kotti-table/components/TableRow.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/table-layout.ts
Labels: package:kotti-ui

#981 refactor(KtTable): make type for store specific data more explicit
  packages/kotti-ui/source/kotti-table/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table/components/TableHeaderCell.ts
  packages/kotti-ui/source/kotti-table/components/TableRowCell.ts
  packages/kotti-ui/source/kotti-table/constants.ts
  packages/kotti-ui/source/kotti-table/logic/column.ts
  packages/kotti-ui/source/kotti-table/logic/order.ts
  packages/kotti-ui/source/kotti-table/logic/types.ts
  packages/kotti-ui/source/kotti-table/types.ts
Labels: package:kotti-ui
