Repository 3YOURMIND/kotti, pull requests merged in 2024-05, with the labels that each got.

#913 dx(knip): Use knip instead of unimported
  .eslintrc.js
  .fake-prettierignore
  .github/workflows/ci.yml
  .prettierignore
  knip.json
  package.json
  packages/documentation/data/menu.ts
  packages/documentation/package.json
  packages/documentation/pages/foundations/colors/figma.vue
  packages/fake-root/package.json
  packages/fake-root/readme.md
  packages/fake-root/turbo.json
  packages/kotti-ui/package.json
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/kotti-table/logic/column.js
  packages/kotti-ui/source/kotti-table/logic/disable.js
  packages/kotti-ui/source/kotti-table/logic/hide.js
  packages/kotti-ui/source/kotti-table/logic/select.js
  packages/kotti-ui/source/kotti-table/logic/sort.js
  packages/kotti-ui/source/kotti-table/mixins.d.ts
  packages/kotti-ui/source/kotti-table/mixins.js
  packages/kotti-ui/tokens/figma-import-script.js
  packages/kotti-ui/tokens/utilities.js
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
  turbo.json
  yarn.lock
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

#915 ci(github): Add GitHub Actions Workflow for Automatic Release
  .fake-prettierignore
  .github/workflows/publish.yml
  .gitignore
  internals/fake-root/package.json
  internals/fake-root/readme.md
  internals/fake-root/turbo.json
  internals/scripts/package.json
  internals/scripts/source/publish.ts
  internals/scripts/tsconfig.json
  package.json
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
  turbo.json
  yarn.lock
Labels: package:kotti-ui, package:yoco, package:vue-use-tippy, scope:ci

#917 fix(ci): remove `bun install` call
  .github/workflows/publish.yml
Labels: scope:ci

#918 version(yoco@2.5.0): add support for esm
  internals/scripts/source/publish.ts
  packages/yoco/package.json
Labels: package:yoco

#922 fix(eslint): put restrict-template-expressions into rules for which types are required
  packages/eslint-config/package.json
  packages/eslint-config/source/index.ts
  packages/eslint-config/source/rules/vue-no-v-t-without-translation.ts
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-form-controller-list/components/FormControllerListItem.vue
  packages/kotti-ui/source/make-props.test.ts
Labels: package:kotti-ui

#924 chore(legacy-branch): cherry pick relevant commits from master
  .gitignore
  README.md
  lerna.json
  package.json
  packages/documentation/package.json
  packages/documentation/pages/usage/components/button.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/KtSplitButton.vue
  packages/kotti-ui/source/kotti-button/components/ActionsItem.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-button/index.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/kotti-field-date/mixins.scss
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field/components/FieldHelpText.vue
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-heading/KtHeading.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarTooltip.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

#927 chore(eslint-config): activate eslint rules warning of deprecated features
  eslint.config.mjs
  packages/documentation/components/NavBar.vue
  packages/documentation/layouts/default.vue
  packages/documentation/pages/examples/layouts.vue
  packages/documentation/pages/usage/components/card.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/modal.vue
  packages/documentation/pages/usage/components/popover.vue
  packages/documentation/pages/usage/components/value-label.vue
  packages/eslint-config/package.json
  packages/eslint-config/source/index.ts
  packages/kotti-ui/source/kotti-actionbar/components/ActionbarMenu.vue
  packages/kotti-ui/source/kotti-drawer/KtDrawer.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-date/hooks.ts
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUploadRemote.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Capture.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Error.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Review.vue
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
  packages/kotti-ui/source/kotti-popover/components/IconTextItem.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-toaster/KtToaster.vue
Labels: package:kotti-ui
