Repository 3YOURMIND/kotti, pull requests merged in 2024-04, with the labels that each got.

#904 chore(tippy): hide popper arrow
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/kotti-avatar/KtAvatar.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-button/hooks/use-actions-tippy.ts
  packages/kotti-ui/source/kotti-field-date/mixins.scss
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field/components/FieldHelpText.vue
  packages/kotti-ui/source/kotti-filters/KtFilters.vue
  packages/kotti-ui/source/kotti-navbar/components/NavbarTooltip.vue
  packages/kotti-ui/source/kotti-popover/KtPopover.vue
Labels: priority:3-normal, package:kotti-ui

#908 dx(build): Cache with Turborepo for Performance
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .gitignore
  .vscode/extensions.json
  README.md
  package.json
  packages/documentation/.unimportedrc.json
  packages/documentation/nuxt.config.ts
  packages/documentation/package.json
  packages/documentation/pages/foundations/icons/typescript.vue
  packages/documentation/turbo.json
  packages/kotti-ui/.unimportedrc.json
  packages/kotti-ui/package.json
  packages/kotti-ui/scripts/build-vue-tsc.sh
  packages/kotti-ui/turbo.json
  packages/vue-use-tippy/.unimportedrc.json
  packages/vue-use-tippy/package.json
  packages/vue-use-tippy/turbo.json
  packages/yoco/.unimportedrc.json
  packages/yoco/package.json
  packages/yoco/turbo.json
  scripts/build-kotti.sh
  scripts/watch.sh
  turbo.json
  yarn.lock
Labels: type:enhancement, dependencies, scope:build, scope:documentation, scope:linting, priority:4-high ⚠️, package:kotti-ui, package:yoco, package:sass-node-modules-importer, package:vue-use-tippy, scope:ci

#906 fix(KtHeading): BREAKING replace <label> with <span>, also rework styles
  packages/kotti-ui/source/kotti-heading/KtHeading.vue
Labels: package:kotti-ui

#907 fix(KtFieldToggle/RadioGroup): have unique id per input element
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
Labels: package:kotti-ui
