Repository 3YOURMIND/kotti, pull requests merged in 2024-09, with the labels that each got.

#988 fix(kt-table-legacy): fix row selection reactivity not working
  packages/documentation/pages/usage/components/table-legacy.vue
  packages/kotti-ui/source/kotti-table-legacy/components/TableHeader.vue
  packages/kotti-ui/source/kotti-table-legacy/components/TableRow.ts
  packages/kotti-ui/source/kotti-table-legacy/style/form-checkbox.scss
Labels: type:bug, package:kotti-ui

#987 feat(kt-fields-kt-field-inline-edit): add autoComplete prop
  packages/documentation/pages/usage/components/field-inline-edit.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-currency/KtFieldCurrency.vue
  packages/kotti-ui/source/kotti-field-currency/constants.ts
  packages/kotti-ui/source/kotti-field-currency/types.ts
  packages/kotti-ui/source/kotti-field-date/constants.ts
  packages/kotti-ui/source/kotti-field-file-upload/constants.ts
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-inline-edit/constants.ts
  packages/kotti-ui/source/kotti-field-inline-edit/types.ts
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-number/constants.ts
  packages/kotti-ui/source/kotti-field-number/types.ts
  packages/kotti-ui/source/kotti-field-password/constants.ts
  packages/kotti-ui/source/kotti-field-password/types.ts
  packages/kotti-ui/source/kotti-field-radio-group/constants.ts
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
  packages/kotti-ui/source/kotti-field-select/constants.ts
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-text-area/constants.ts
  packages/kotti-ui/source/kotti-field-text-area/types.ts
  packages/kotti-ui/source/kotti-field-text/KtFieldText.vue
  packages/kotti-ui/source/kotti-field-text/constants.ts
  packages/kotti-ui/source/kotti-field-toggle/constants.ts
  packages/kotti-ui/source/kotti-field/KtField.test.ts
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-form-controller-list/KtFormControllerList.test.ts
  packages/kotti-ui/source/kotti-form-controller-object/KtFormControllerObject.test.ts
  packages/kotti-ui/source/kotti-form/KtForm.test.ts
Labels: type:enhancement, priority:3-normal, package:kotti-ui

#989 version(kotti-ui@7.1.0): Improvements in KtFields
  packages/kotti-ui/package.json
Labels: package:kotti-ui

#993 refact(kt-value-label): make loading align with KtField's loading style
  packages/kotti-ui/source/kotti-value-label/KtValueLabel.vue
Labels: package:kotti-ui

#992 feat(kt-field): make autoComplete default to off
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/utilities/pages.ts
  packages/kotti-ui/source/kotti-field/types.ts
Labels: package:kotti-ui

#994 version(kotti-ui@7.2.0): Improvements in KtValueLabel and KtFields
  packages/kotti-ui/package.json
Labels: package:kotti-ui

#996 feat(KtFileUpload): create KtFileUpload component
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-field-file-upload/index.ts
  packages/kotti-ui/source/kotti-file-upload/KtFileUpload.vue
  packages/kotti-ui/source/kotti-file-upload/components/UploadedFileItem.vue
  packages/kotti-ui/source/kotti-file-upload/index.ts
  packages/kotti-ui/source/kotti-file-upload/types.ts
  packages/kotti-ui/source/kotti-file-upload/utilities.ts
  packages/kotti-ui/source/types/kotti.ts
Labels: package:kotti-ui

#999 chore(KtFileUpload): add documentation page for KtFileUpload
  packages/documentation/data/menu.ts
  packages/documentation/pages/usage/components/field-inline-edit.vue
  packages/documentation/pages/usage/components/file-upload.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-field-file-upload/components/ProgressBar.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Capture.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Error.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/Review.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/TakePhoto.vue
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
  packages/kotti-ui/source/kotti-file-upload/KtFileUpload.vue
  packages/kotti-ui/source/kotti-file-upload/components/UploadedFileItem.vue
  packages/kotti-ui/source/kotti-file-upload/types.ts
Labels: package:kotti-ui

#995 chore(kotti-i18n): add crowdin translations
  .gitignore
  README.md
  crowdin.yml
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/locales/input.json
Labels: type:enhancement, package:kotti-ui
