Repository 3YOURMIND/kotti, pull requests merged in 2024-01, with the labels that each got.

#856 fix(kt-comment): remove blur behavior to prevent unwanted behavior wh…
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
Labels: type:bug, priority:4-high ⚠️, package:kotti-ui

#859 refact(kt-field-toggle): move label tag from field header to componen…
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggleGroup.vue
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleInner.vue
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleInnerSuffix.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
Labels: type:refactor, priority:3-normal, package:kotti-ui

#858 feature(857): add a property autoSize and maxHeight for KtFieldTextArea
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-text-area/types.ts
Labels: package:kotti-ui

#860 refact(kt-field-inline-edit): refact focusable elements
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
  packages/kotti-ui/source/kotti-comment/utilities.ts
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-inline-edit/types.ts
  packages/kotti-ui/source/kotti-field-inline-edit/utils.ts
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/utilities.ts
Labels: type:refactor, priority:3-normal, package:kotti-ui

#861 fix(kt-field): allow label selection on double/triple click
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUploadRemote.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/hooks.ts
Labels: type:bug, priority:3-normal, package:kotti-ui

#863 refact(kt-field-inline-edit): allow input text selection
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
Labels: type:refactor, priority:3-normal, package:kotti-ui

#868 fix(kt-comment): fix cancel text click behavior
  packages/kotti-ui/source/kotti-comment/components/CommentTextArea.vue
Labels: type:bug, package:kotti-ui

#867 fix(#865): change word-break to break-word for kt-field-inline-edit m…
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
Labels: package:kotti-ui

#866 feature(#864): add a property hideDropArea for both KtFieldFileUpload…
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUploadRemote.vue
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
Labels: package:kotti-ui, autorebase:opt-in

#871 fix(makeProps): Properly Handle Types for defaults
  packages/kotti-ui/source/make-props.test.ts
  packages/kotti-ui/source/make-props.ts
Labels: package:kotti-ui

#873 refactor(kotti): Avoid Using `export * as` Syntax
  packages/kotti-ui/source/kotti-field-currency/index.ts
  packages/kotti-ui/source/types/index.ts
Labels: package:kotti-ui

#874 refactor(kotti): Avoid Using Variables With $ or _ in the Template
  packages/kotti-ui/source/kotti-comment/KtCommentInput.vue
  packages/kotti-ui/source/kotti-comment/components/CommentInlineEdit.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/TakePhoto/TakePhoto.vue
Labels: package:kotti-ui

#872 refactor(KtField*Select*): Use $props on Template
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldMultiSelectRemote.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelect.vue
  packages/kotti-ui/source/kotti-field-select/KtFieldSingleSelectRemote.vue
Labels: package:kotti-ui

#875 chore(typescript): Upgrade to 5.3
  package.json
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-i18n/utilities.ts
  yarn.lock
Labels: dependencies, priority:3-normal, package:kotti-ui, type:chore

#876 refactor(types): Replace `export namespace` with `export module`
  packages/kotti-ui/source/kotti-accordion/types.ts
  packages/kotti-ui/source/kotti-avatar-group/types.ts
  packages/kotti-ui/source/kotti-avatar/types.ts
  packages/kotti-ui/source/kotti-banner/types.ts
  packages/kotti-ui/source/kotti-breadcrumb/types.ts
  packages/kotti-ui/source/kotti-button-group/types.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/kotti-card/types.ts
  packages/kotti-ui/source/kotti-col/types.ts
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-drawer/types.ts
  packages/kotti-ui/source/kotti-field-currency/types.ts
  packages/kotti-ui/source/kotti-field-date/types.ts
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
  packages/kotti-ui/source/kotti-field-inline-edit/types.ts
  packages/kotti-ui/source/kotti-field-number/types.ts
  packages/kotti-ui/source/kotti-field-password/types.ts
  packages/kotti-ui/source/kotti-field-radio-group/types.ts
  packages/kotti-ui/source/kotti-field-select/types.ts
  packages/kotti-ui/source/kotti-field-text-area/types.ts
  packages/kotti-ui/source/kotti-field-text/types.ts
  packages/kotti-ui/source/kotti-field-toggle/types.ts
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-filters/types.ts
  packages/kotti-ui/source/kotti-form-controller-list/types.ts
  packages/kotti-ui/source/kotti-form-controller-object/types.ts
  packages/kotti-ui/source/kotti-form-submit/types.ts
  packages/kotti-ui/source/kotti-form/types.ts
  packages/kotti-ui/source/kotti-heading/types.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/kotti-line/types.ts
  packages/kotti-ui/source/kotti-modal/types.ts
  packages/kotti-ui/source/kotti-navbar/types.ts
  packages/kotti-ui/source/kotti-popover/types.ts
  packages/kotti-ui/source/kotti-row/types.ts
  packages/kotti-ui/source/kotti-table/types.ts
  packages/kotti-ui/source/kotti-tag/types.ts
  packages/kotti-ui/source/kotti-user-menu/types.ts
  packages/kotti-ui/source/kotti-value-label/types.ts
  packages/kotti-ui/source/make-props.ts
Labels: package:kotti-ui

#877 chore(test-app): Remove Test App
  packages/test-app/README.md
  packages/test-app/babel.config.js
  packages/test-app/package.json
  packages/test-app/public/index.html
  packages/test-app/src/App.vue
  packages/test-app/src/main.ts
  packages/test-app/src/shims-tsx.d.ts
  packages/test-app/src/shims-vue.d.ts
  packages/test-app/tsconfig.json
  yarn.lock
Labels: priority:3-normal, type:chore

#878 refactor(KtForm): Use If Instead of Switch with Fallthrough
  packages/kotti-ui/source/kotti-form/KtForm.vue
Labels: type:refactor, priority:3-normal, package:kotti-ui

#880 fix(documentation): Remove Non-Pages from Pages
  packages/documentation/package.json
  packages/documentation/pages/usage/components/avatar.vue
  packages/documentation/pages/usage/components/field-inline-edit.vue
  packages/documentation/pages/usage/components/filters.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/popover-example.md
  packages/documentation/pages/usage/components/popover.vue
  packages/documentation/pages/usage/components/value-label.vue
  packages/documentation/styles/form-fields.scss
  packages/documentation/utilities/date.ts
  packages/documentation/utilities/pages.ts
  yarn.lock
Labels: type:bug, priority:4-high ⚠️

#881 fix(kotti): Avoid Importing All Components
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
Labels: priority:3-normal, package:kotti-ui

#882 fix(dependencies): Declare core-js a Dependency of Kotti, Fix Vue Requirement to Be 2.6.x
  packages/documentation/package.json
  packages/documentation/pages/usage/components/field-inline-edit.vue
  packages/kotti-ui/.unimportedrc.json
  packages/kotti-ui/package.json
  yarn.lock
Labels: type:bug, priority:5-critical ❕❕❕, package:kotti-ui

#883 chore(kotti): as any element-ui refs
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
Labels: package:kotti-ui

#884 fix(KtFieldFileUpload): Expose Props and PropsInternal Properly
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
Labels: package:kotti-ui

#885 refactor(yoco): Simplify Into One File
  packages/yoco/source/generate.ts
  packages/yoco/source/index.ts
  packages/yoco/source/schema.ts
  packages/yoco/source/types.ts
  packages/yoco/source/validator.ts
Labels: type:refactor, priority:3-normal, package:yoco

#886 improvement(package.json): Add Support for Exports
  .eslintrc.js
  packages/kotti-ui/package.json
  packages/vue-use-tippy/package.json
  packages/yoco/package.json
Labels: priority:3-normal, package:kotti-ui, package:yoco, package:vue-use-tippy

#887 chore(dependencies): Upgrade ESLint
  package.json
  yarn.lock
Labels: priority:3-normal

#837 chore(prettier): Update and Apply Prettier and Related Plugins
  package.json
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-breadcrumb/types.ts
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-select/components/Options.vue
  packages/kotti-ui/source/kotti-field-toggle/KtFieldToggle.vue
  packages/kotti-ui/source/kotti-field-toggle/components/ToggleBox.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-filters/components/FilterRow.vue
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/source/kotti-style/_variables.scss
  packages/kotti-ui/source/kotti-table/logic/order.js
  packages/kotti-ui/source/kotti-table/types.ts
  packages/yoco/style.css
  yarn.lock
Labels: package:kotti-ui, package:yoco

#889 refactor(KtTranslation): replace namespace with module
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-navbar/components/NavbarMenu.vue
Labels: package:kotti-ui
