Repository 3YOURMIND/kotti, pull requests merged in 2025-02, with the labels that each got.

#1051 Costum error for file lines
  packages/documentation/pages/usage/components/file-upload.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-file-upload/KtFileUpload.vue
  packages/kotti-ui/source/kotti-file-upload/components/UploadedFileItem.vue
  packages/kotti-ui/source/kotti-file-upload/types.ts
Labels: scope:documentation, package:kotti-ui

#1052 feat(KtFileUpload): add loading state
  packages/documentation/pages/usage/components/file-upload.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-file-upload/components/UploadedFileItem.vue
  packages/kotti-ui/source/kotti-file-upload/types.ts
Labels: scope:documentation, package:kotti-ui

#1050 fix(KtToaster): remove console.log call from toaster render loop
  packages/kotti-ui/source/kotti-toaster/create-toaster.ts
Labels: package:kotti-ui

#1056 fix(kt-table): unset successfullyDroppedColumnId after column re-order
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/table/context.ts
  packages/kotti-ui/source/kotti-table/table/hooks.ts
Labels: type:bug, package:kotti-ui

#1058 feat(kt-form-fields): add blur event support to form fields
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-field-currency/KtFieldCurrency.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDate.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateRange.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTime.vue
  packages/kotti-ui/source/kotti-field-date/KtFieldDateTimeRange.vue
  packages/kotti-ui/source/kotti-field-file-upload/KtFieldFileUpload.vue
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
  packages/kotti-ui/source/kotti-field-select/hooks/use-select-tippy.ts
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field-text/KtFieldText.vue
Labels: scope:documentation, package:kotti-ui

#1054 feat(KtTable): introduce loading state for singular rows
  packages/documentation/pages/usage/components/table.vue
  packages/kotti-ui/source/kotti-table/KtTable.vue
  packages/kotti-ui/source/kotti-table/table/hooks.ts
  packages/kotti-ui/source/kotti-table/table/types.ts
Labels: scope:documentation, package:kotti-ui

#1060 fix(#1057): change selector label to be more generic
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-table/standard-table/components/PageSize.vue
  packages/kotti-ui/source/kotti-table/standard-table/types.ts
  packages/kotti-ui/source/locales/input.json
Labels: package:kotti-ui

#1063 chore(docs): extend tables functionality in KtStandardTable docs
  packages/documentation/pages/usage/components/standard-table.vue
Labels: scope:documentation, type:chore

#1061 chore(kotti-i18n): update local translations with crowdin translations
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/locales/input.json
Labels: package:kotti-ui, type:chore

#1064 feat(kotti-fields): add hover state to KtFields
  packages/kotti-ui/source/kotti-field-file-upload/components/DropArea.vue
  packages/kotti-ui/source/kotti-field-text-area/KtFieldTextArea.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
Labels: type:enhancement, package:kotti-ui

#1067 fix(KtFileUpload): optionally hide file size
  packages/documentation/pages/usage/components/file-upload.vue
  packages/kotti-ui/source/kotti-file-upload/components/UploadedFileItem.vue
  packages/kotti-ui/source/kotti-file-upload/types.ts
Labels: scope:documentation, package:kotti-ui

#1062 chore(eslint): use namespace instead of module
  eslint.config.mjs
  packages/kotti-ui/README.md
  packages/kotti-ui/source/kotti-accordion/types.ts
  packages/kotti-ui/source/kotti-actionbar/types.ts
  packages/kotti-ui/source/kotti-avatar-group/types.ts
  packages/kotti-ui/source/kotti-avatar/types.ts
  packages/kotti-ui/source/kotti-banner/types.ts
  packages/kotti-ui/source/kotti-breadcrumb/types.ts
  packages/kotti-ui/source/kotti-button-group/types.ts
  packages/kotti-ui/source/kotti-button/types.ts
  packages/kotti-ui/source/kotti-card/types.ts
  packages/kotti-ui/source/kotti-col/types.ts
  packages/kotti-ui/source/kotti-comment/types.ts
  packages/kotti-ui/source/kotti-drawer/types.ts
  packages/kotti-ui/source/kotti-field-currency/types.ts
  packages/kotti-ui/source/kotti-field-date/types.ts
  packages/kotti-ui/source/kotti-field-file-upload/types.ts
  packages/kotti-ui/source/kotti-field-inline-edit/types.ts
  packages/kotti-ui/source/kotti-field-number/types.ts
  packages/kotti-ui/source/kotti-field-password/types.ts
  packages/kotti-ui/source/kotti-field-radio-group/types.ts
  packages/kotti-ui/source/kotti-field-select/types.ts
  packages/kotti-ui/source/kotti-field-text-area/types.ts
  packages/kotti-ui/source/kotti-field-text/types.ts
  packages/kotti-ui/source/kotti-field-toggle/types.ts
  packages/kotti-ui/source/kotti-field/types.ts
  packages/kotti-ui/source/kotti-file-upload/types.ts
  packages/kotti-ui/source/kotti-filters/types.ts
  packages/kotti-ui/source/kotti-form-controller-list/types.ts
  packages/kotti-ui/source/kotti-form-controller-object/types.ts
  packages/kotti-ui/source/kotti-form-submit/types.ts
  packages/kotti-ui/source/kotti-form/types.ts
  packages/kotti-ui/source/kotti-heading/types.ts
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/kotti-line/types.ts
  packages/kotti-ui/source/kotti-modal/types.ts
  packages/kotti-ui/source/kotti-navbar/types.ts
  packages/kotti-ui/source/kotti-popover/types.ts
  packages/kotti-ui/source/kotti-row/types.ts
  packages/kotti-ui/source/kotti-table-legacy/logic/types.ts
  packages/kotti-ui/source/kotti-table-legacy/types.ts
  packages/kotti-ui/source/kotti-table/standard-table/types.ts
  packages/kotti-ui/source/kotti-table/table/types.ts
  packages/kotti-ui/source/kotti-tag/types.ts
  packages/kotti-ui/source/kotti-toaster/types.ts
  packages/kotti-ui/source/kotti-user-menu/types.ts
  packages/kotti-ui/source/kotti-value-label/types.ts
  packages/kotti-ui/source/make-props.ts
  packages/yoco/source/index.ts
Labels: scope:linting, package:kotti-ui, package:yoco, type:chore

#1016 Update styles of toggles, switches, and radios
  packages/kotti-ui/source/kotti-field-radio-group/KtFieldRadioGroup.vue
  packages/kotti-ui/source/kotti-style/tokens.css
  packages/kotti-ui/source/shared-components/toggle-inner/ToggleBox.vue
  packages/kotti-ui/source/shared-components/toggle-inner/ToggleInner.vue
  packages/kotti-ui/source/shared-components/toggle-inner/ToggleSwitch.vue
  packages/kotti-ui/tokens/colors.js
Labels: package:kotti-ui

#1069 fix(kt-field): fix undesired reactive field id
  packages/kotti-ui/source/kotti-field/hooks.ts
Labels: type:bug, package:kotti-ui

#1068 fix(kotti-fields): dont emit blur event when interacting with the con…
  packages/kotti-ui/source/kotti-field-currency/KtFieldCurrency.vue
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-field-password/KtFieldPassword.vue
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
  packages/kotti-ui/source/kotti-field-text/KtFieldText.vue
  packages/kotti-ui/source/kotti-field/KtField.vue
  packages/kotti-ui/source/kotti-field/hooks.ts
Labels: type:bug, package:kotti-ui
