Repository 3YOURMIND/kotti, pull requests merged in 2025-09, with the labels that each got.

#1116 Bump eslint config
  eslint.config.mjs
  package.json
  packages/documentation/utilities/pages.ts
  packages/eslint-config/package.json
  packages/eslint-config/source/index.ts
  packages/kotti-ui/source/kotti-field/hooks.ts
  packages/kotti-ui/source/kotti-form/types.ts
  packages/kotti-ui/source/kotti-table-legacy/KtTableLegacy.vue
  packages/kotti-ui/source/kotti-table-legacy/KtTableLegacyColumn.ts
  packages/kotti-ui/source/kotti-table-legacy/KtTableLegacyProvider.ts
  packages/kotti-ui/source/kotti-table-legacy/components/TableRow.ts
  packages/kotti-ui/source/kotti-table-legacy/logic/row.ts
  packages/kotti-ui/source/kotti-table-legacy/logic/sort.ts
  packages/kotti-ui/source/kotti-table/standard-table/components/Columns.vue
  packages/kotti-ui/source/kotti-table/table/hooks.ts
  packages/kotti-ui/vite.config.ts
  yarn.lock
Labels: scope:linting, package:eslint-config

#1119 feat(KtFieldSelects): allow individual actions to be set as disabled
  packages/documentation/utilities/pages.ts
  packages/kotti-ui/source/kotti-field-select/components/Options.vue
  packages/kotti-ui/source/kotti-field-select/types.ts
Labels: scope:documentation, package:kotti-ui

#1118 ci: update knip to latest
  .github/workflows/ci.yml
  knip.json
  package.json
  packages/documentation/package.json
  packages/documentation/utilities/toaster.ts
  packages/kotti-ui/source/kotti-table/standard-table/storage.ts
  turbo.json
  yarn.lock
Labels: scope:documentation, package:kotti-ui, scope:ci

#1121 version(kotti-ui@8.8.0): limitless pagination, disable field actions
  packages/kotti-ui/package.json
Labels: package:kotti-ui

#1122 refact(KtFieldSelects): actions container has now a fixed width when the clear icon is available
  packages/kotti-ui/source/kotti-field-select/components/ActionIcon.vue
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
Labels: package:kotti-ui

#1127 fix(KtFieldSelect): don't force focus on input after selection is triggered
  packages/kotti-ui/source/kotti-field-select/components/GenericSelectField.vue
Labels: package:kotti-ui

#1128 version(kotti-ui@8.8.3): unify dropdown style
  packages/kotti-ui/package.json
Labels: package:kotti-ui

#1129 feat(KtTag): introduce color style & update color palette
  packages/documentation/components/ColorPalette.vue
  packages/documentation/components/ColorUsage.vue
  packages/documentation/data/menu.ts
  packages/documentation/pages/foundations/colors/list-of-colors.vue
  packages/documentation/pages/usage/components/tag.vue
  packages/kotti-ui/source/kotti-style/tokens.css
  packages/kotti-ui/source/kotti-tag/KtTag.vue
  packages/kotti-ui/source/kotti-tag/types.ts
  packages/kotti-ui/tokens/colors.js
Labels: scope:documentation, package:kotti-ui

#1136 chore(kotti-ui): update vite and tools
  packages/kotti-ui/package.json
  packages/kotti-ui/source/zod-utilities/refinements.test.ts
  packages/kotti-ui/vite.config.ts
  yarn.lock
Labels: package:kotti-ui

#1144 Add ukrainian translations
  packages/documentation/pages/usage/components/comment.vue
  packages/documentation/pages/usage/components/filters.vue
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/form.vue
  packages/documentation/pages/usage/components/standard-table.vue
  packages/documentation/pages/usage/components/value-label.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-i18n/hooks.ts
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-i18n/locales/uk-UA.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/kotti-table/standard-table/types.ts
Labels: scope:documentation, package:kotti-ui
