Repository 3YOURMIND/kotti, pull requests merged in 2025-01, with the labels that each got.

#1035 feature(KtStandardTable): initial implementation
  packages/documentation/data/menu.ts
  packages/documentation/data/standard-table.ts
  packages/documentation/pages/usage/components/form-fields.vue
  packages/documentation/pages/usage/components/standard-table.vue
  packages/kotti-ui/package.json
  packages/kotti-ui/source/constants.ts
  packages/kotti-ui/source/index.ts
  packages/kotti-ui/source/kotti-field-select/components/Options.vue
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-i18n/types.ts
  packages/kotti-ui/source/kotti-style/_loadings.scss
  packages/kotti-ui/source/kotti-table-legacy/index.ts
  packages/kotti-ui/source/kotti-table/KtStandardTable.vue
  packages/kotti-ui/source/kotti-table/index.ts
  packages/kotti-ui/source/kotti-table/standard-table/components/Columns.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/FilterList.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/Filters.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/PageSize.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/Pagination.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/Search.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/filters/Boolean.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/filters/DateRange.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/filters/MultiSelect.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/filters/NumberRange.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/filters/SingleSelect.vue
  packages/kotti-ui/source/kotti-table/standard-table/context.ts
  packages/kotti-ui/source/kotti-table/standard-table/hooks.ts
  packages/kotti-ui/source/kotti-table/standard-table/simple-hash.test.ts
  packages/kotti-ui/source/kotti-table/standard-table/simple-hash.ts
  packages/kotti-ui/source/kotti-table/standard-table/storage.ts
  packages/kotti-ui/source/kotti-table/standard-table/types.ts
  packages/kotti-ui/source/kotti-table/standard-table/utilities/date.ts
  packages/kotti-ui/source/kotti-table/standard-table/utilities/filters.ts
  packages/kotti-ui/source/kotti-table/standard-table/utilities/translation.ts
  packages/kotti-ui/source/kotti-table/table/context.ts
  packages/kotti-ui/source/kotti-table/table/hooks.ts
  packages/kotti-ui/source/kotti-table/table/types.ts
  packages/kotti-ui/source/locales/input.json
  packages/kotti-ui/source/types/kotti.ts
Labels: scope:documentation, package:kotti-ui

#1037 fik(lodash): append '.js' to import path
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-table/table/local.ts
Labels: package:kotti-ui

#1039 Add data tests to standard table
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-table/KtStandardTable.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/Columns.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/Filters.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/PageSize.vue
Labels: package:kotti-ui

#1040 ci(typescript): bump typescript version to latest
  package.json
  packages/documentation/data/menu.ts
  packages/eslint-config/package.json
  packages/kotti-ui/package.json
  packages/kotti-ui/scripts/build-vue-tsc.sh
  packages/kotti-ui/source/kotti-comment/index.ts
  packages/kotti-ui/source/kotti-table/standard-table/simple-hash.ts
  packages/kotti-ui/tsconfig.json
  packages/kotti-ui/turbo.json
  yarn.lock
Labels: scope:documentation, package:kotti-ui, package:eslint-config

#1042 dx(prettier): bump to latest
  package.json
  packages/documentation/pages/usage/components/form-fields.vue
  packages/kotti-ui/source/kotti-button/KtButton.vue
  packages/kotti-ui/source/kotti-field-date/mixins.scss
  packages/kotti-ui/source/kotti-field-inline-edit/KtFieldInlineEdit.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
  packages/kotti-ui/source/kotti-style/_variables.scss
  packages/kotti-ui/source/kotti-table/standard-table/utilities/translation.ts
  yarn.lock
Labels: scope:documentation, package:kotti-ui

#1043 dx(knip): update to latest
  knip.json
  package.json
  packages/kotti-ui/source/kotti-navbar/components/NavbarMenu.vue
  packages/kotti-ui/source/kotti-table/table/hooks.ts
  packages/kotti-ui/source/kotti-toaster/create-toaster.ts
  yarn.lock
Labels: package:kotti-ui

#1044 feature(#1026): add chevron_down_double and chevron_up_double icons
  packages/kotti-ui/package.json
  packages/yoco/package.json
  packages/yoco/source/index.ts
  packages/yoco/svg/chevron_down_double.svg
  packages/yoco/svg/chevron_up_double.svg
Labels: package:kotti-ui, package:yoco

#1045 fix(KtStandardTable): validate against manual version if it's provided
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-table/standard-table/storage.ts
Labels: package:kotti-ui

#1046 feat(yoco): add new icons
  packages/yoco/source/index.ts
  packages/yoco/svg/circle_check.svg
  packages/yoco/svg/filled_circle_check.svg
  packages/yoco/svg/filled_circle_cross.svg
  packages/yoco/svg/filled_circle_minus.svg
  packages/yoco/svg/filled_triangle_attention.svg
  packages/yoco/svg/lightning_bolt.svg
  packages/yoco/svg/not_applicable.svg
Labels: package:yoco

#1047 version(yoco@2.11.0): add several new icons, update circle_check
  packages/kotti-ui/package.json
  packages/yoco/package.json
Labels: package:kotti-ui, package:yoco

#1048 chore(kt-standard-table): fix inline filters implementation in docs
  packages/documentation/pages/usage/components/standard-table.vue
Labels: scope:documentation, type:chore

#1049 version(kotti-ui@8.4.0): bugfixes and internal dep version bumps
  packages/kotti-ui/package.json
Labels: package:kotti-ui
