Repository 3YOURMIND/kotti, pull requests merged in 2025-03, with the labels that each got.

#1071 chore(kt-field-number): remove bg color when field is disabled
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: package:kotti-ui

#1070 version(kotti-ui@8.6.0): Improvements in KtFields, KtTable, KtFileUpload and translations
  packages/kotti-ui/package.json
Labels: package:kotti-ui

#1073 Hide progress bar for custom errors
  packages/kotti-ui/package.json
  packages/kotti-ui/source/kotti-file-upload/components/UploadedFileItem.vue
  packages/kotti-ui/source/kotti-file-upload/types.ts
Labels: package:kotti-ui

#1078 fix(toggle-inner): hide input with display: none instead of width/height: 0
  packages/kotti-ui/source/shared-components/toggle-inner/ToggleInner.vue
Labels: package:kotti-ui

#1080 fix(kt-field): add missing borderless support check in useField hook
  packages/kotti-ui/source/kotti-field/hooks.ts
Labels: package:kotti-ui

#1077 feat(KtTable): make header toggle indeterminate if only some rows are selected
  packages/kotti-ui/source/kotti-table/table/hooks.ts
Labels: package:kotti-ui

#1081 feat(KtStandardTable): add support for global/local selection
  packages/documentation/pages/usage/components/standard-table.vue
  packages/kotti-ui/source/kotti-i18n/locales/de-DE.ts
  packages/kotti-ui/source/kotti-i18n/locales/en-US.ts
  packages/kotti-ui/source/kotti-i18n/locales/es-ES.ts
  packages/kotti-ui/source/kotti-i18n/locales/fr-FR.ts
  packages/kotti-ui/source/kotti-i18n/locales/ja-JP.ts
  packages/kotti-ui/source/kotti-table/KtStandardTable.vue
  packages/kotti-ui/source/kotti-table/standard-table/components/GlobalSelection.vue
  packages/kotti-ui/source/kotti-table/standard-table/context.ts
  packages/kotti-ui/source/kotti-table/standard-table/hooks.ts
  packages/kotti-ui/source/kotti-table/standard-table/types.ts
  packages/kotti-ui/source/kotti-table/table/context.ts
  packages/kotti-ui/source/kotti-table/table/hooks.ts
Labels: scope:documentation, package:kotti-ui

#1084 style(KtFieldNumber): make increment/decrement buttons smaller
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: package:kotti-ui

#1087 fix(kt-field-number-currency): fix alignments
  packages/kotti-ui/source/kotti-field-currency/KtFieldCurrency.vue
  packages/kotti-ui/source/kotti-field-number/KtFieldNumber.vue
Labels: type:bug, package:kotti-ui

#1088 version(kotti-ui@8.7.2): fix alignments in KtFieldNumber and KtFieldC…
  packages/kotti-ui/package.json
Labels: package:kotti-ui
